In [1]:
# Dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd

In [2]:
# Import dataset
nyc_sales_df = pd.read_csv("NYC_Sales_Clean.csv")
nyc_sales_df.head()

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE_PRICE,SALE PERIOD
0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,5,0,5,1633,6440,1900,2,C2,6625000,7-2017
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,10,0,10,2272,6794,1913,2,C4,3936272,9-2016
2,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,6,0,6,2369,4615,1900,2,C2,8000000,11-2016
3,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,8,0,8,1750,4226,1920,2,C4,3192840,9-2016
4,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,10009,24,0,24,4489,18523,1920,2,D9,16232000,11-2016

In [5]:
# Convert categorical data to numeric
nyc_sales_df = pd.get_dummies(nyc_sales_df)

In [6]:
nyc_sales_df.head()

,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE_PRICE,NEIGHBORHOOD_AIRPORT LA GUARDIA,NEIGHBORHOOD_ALPHABET CITY,NEIGHBORHOOD_ANNADALE,...,SALE PERIOD_11-2016,SALE PERIOD_12-2016,SALE PERIOD_2-2017,SALE PERIOD_3-2017,SALE PERIOD_4-2017,SALE PERIOD_5-2017,SALE PERIOD_6-2017,SALE PERIOD_7-2017,SALE PERIOD_8-2017,SALE PERIOD_9-2016
0,10009,5,0,5,1900,2,6625000,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,10009,10,0,10,1913,2,3936272,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,10009,6,0,6,1900,2,8000000,0,1,0,...,1,0,0,0,0,0,0,0,0,0
3,10009,8,0,8,1920,2,3192840,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,10009,24,0,24,1920,2,16232000,0,1,0,...,1,0,0,0,0,0,0,0,0,0

In [9]:
# Separate features
X = nyc_sales_df.drop(["SALE_PRICE"], axis=1)
y = nyc_sales_df["SALE_PRICE"]

In [13]:
# Create train and testing variables
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# Scale X
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)