In [12]:
# Dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

In [13]:
# Import dataset
nyc_sales_df = (pd.read_csv("NYC_Sales_Clean.csv")).drop(columns=['RESIDENTIAL UNITS','TAX CLASS AT TIME OF SALE', 'SALE PERIOD', 'COMMERCIAL UNITS','BUILDING CLASS AT TIME OF SALE', 'LAND SQUARE FEET'])
nyc_sales_df = nyc_sales_df.rename(columns={'GROSS SQUARE FEET': "SQFT"})
nyc_sales_df = nyc_sales_df[nyc_sales_df.SQFT !=" -  "]
nyc_sales_df["SQFT"] = pd.to_numeric(nyc_sales_df["SQFT"])
print(nyc_sales_df.shape)
print(nyc_sales_df['BUILDING CLASS CATEGORY'].unique())
nyc_sales_df.head(25)

(43353, 7)
['07 RENTALS - WALKUP APARTMENTS             '
 '08 RENTALS - ELEVATOR APARTMENTS           '
 '09 COOPS - WALKUP APARTMENTS               '
 '11A CONDO-RENTALS                           '
 '14 RENTALS - 4-10 UNIT                     '
 '01 ONE FAMILY DWELLINGS                    '
 '02 TWO FAMILY DWELLINGS                    '
 '03 THREE FAMILY DWELLINGS                  '
 '17 CONDO COOPS                             '
 '10 COOPS - ELEVATOR APARTMENTS             '
 '12 CONDOS - WALKUP APARTMENTS              '
 '13 CONDOS - ELEVATOR APARTMENTS            '
 '46 CONDO STORE BUILDINGS                   '
 '15 CONDOS - 2-10 UNIT RESIDENTIAL          '
 '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT ']

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,ZIP CODE,TOTAL UNITS,SQFT,YEAR BUILT,SALE_PRICE
0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,5,6440,1900,6625000
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,10,6794,1913,3936272
2,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,6,4615,1900,8000000
3,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,8,4226,1920,3192840
4,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,10009,24,18523,1920,16232000
5,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,10009,10,12350,2009,10350000
15,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,10009,24,16776,1928,11900000
62,ALPHABET CITY,11A CONDO-RENTALS,10009,47,36472,2005,28000000
125,ALPHABET CITY,14 RENTALS - 4-10 UNIT,10009,4,3360,1910,3300000
126,ALPHABET CITY,14 RENTALS - 4-10 UNIT,10009,5,5608,1900,7215000
127,ALPHABET CITY,14 RENTALS - 4-10 UNIT,10009,6,3713,1910,4750000
147,CHELSEA,01 ONE FAMILY DWELLINGS,10011,1,3855,1901,7425000
148,CHELSEA,01 ONE FAMILY DWELLINGS,10011,1,5653,1900,10
149,CHELSEA,01 ONE FAMILY DWELLINGS,10011,1,5653,1900,10
150,CHELSEA,01 ONE FAMILY DWELLINGS,10011,1,5653,1900,10
151,CHELSEA,02 TWO FAMILY DWELLINGS,10011,3,4978,1920,7750000
152,CHELSEA,03 THREE FAMILY DWELLINGS,10011,3,3725,1901,8300000
153,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10001,7,3762,1901,16000000
154,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,4,2890,1910,5950000
155,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,24,4500,1900,7375000
156,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,4,3042,1900,8000000
157,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,24,13056,1901,14100000
158,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,9,6330,1901,1583840
159,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,9,6330,1901,416790
160,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,9,6330,1901,630370

In [7]:
# Foor loop for java script code
for c in nyc_sales_df["ZIP CODE"].unique():
    print(f'<option value="{c}">{c}</option>')

<option value="10009">10009</option>
<option value="10011">10011</option>
<option value="10001">10001</option>
<option value="10013">10013</option>
<option value="10002">10002</option>
<option value="10007">10007</option>
<option value="10036">10036</option>
<option value="10019">10019</option>
<option value="10003">10003</option>
<option value="10005">10005</option>
<option value="10004">10004</option>
<option value="10010">10010</option>
<option value="10016">10016</option>
<option value="10012">10012</option>
<option value="10014">10014</option>
<option value="10030">10030</option>
<option value="10031">10031</option>
<option value="10027">10027</option>
<option value="10037">10037</option>
<option value="10035">10035</option>
<option value="10026">10026</option>
<option value="10039">10039</option>
<option value="10029">10029</option>
<option value="10032">10032</option>
<option value="10463">10463</option>
<option value="10034">10034</option>
<option value="10018">10018</option>
<option value="10025">10025</option>
<option value="10017">10017</option>
<option value="10022">10022</option>
<option value="10044">10044</option>
<option value="10038">10038</option>
<option value="10065">10065</option>
<option value="10021">10021</option>
<option value="10075">10075</option>
<option value="10028">10028</option>
<option value="10128">10128</option>
<option value="10023">10023</option>
<option value="10024">10024</option>
<option value="10033">10033</option>
<option value="10040">10040</option>
<option value="10457">10457</option>
<option value="10458">10458</option>
<option value="10451">10451</option>
<option value="10469">10469</option>
<option value="10466">10466</option>
<option value="10475">10475</option>
<option value="10468">10468</option>
<option value="10467">10467</option>
<option value="10460">10460</option>
<option value="10473">10473</option>
<option value="10472">10472</option>
<option value="10464">10464</option>
<option value="10803">10803</option>
<option value="10465">10465</option>
<option value="10456">10456</option>
<option value="10459">10459</option>
<option value="10471">10471</option>
<option value="10453">10453</option>
<option value="10452">10452</option>
<option value="10474">10474</option>
<option value="10455">10455</option>
<option value="10462">10462</option>
<option value="10461">10461</option>
<option value="10454">10454</option>
<option value="0">0</option>
<option value="10470">10470</option>
<option value="11228">11228</option>
<option value="11214">11214</option>
<option value="11220">11220</option>
<option value="11209">11209</option>
<option value="11219">11219</option>
<option value="11221">11221</option>
<option value="11233">11233</option>
<option value="11213">11213</option>
<option value="11206">11206</option>
<option value="11216">11216</option>
<option value="11205">11205</option>
<option value="11238">11238</option>
<option value="11226">11226</option>
<option value="11204">11204</option>
<option value="11234">11234</option>
<option value="11217">11217</option>
<option value="11201">11201</option>
<option value="11218">11218</option>
<option value="11232">11232</option>
<option value="11230">11230</option>
<option value="11235">11235</option>
<option value="11212">11212</option>
<option value="11237">11237</option>
<option value="11207">11207</option>
<option value="11236">11236</option>
<option value="11231">11231</option>
<option value="11249">11249</option>
<option value="11224">11224</option>
<option value="11225">11225</option>
<option value="11208">11208</option>
<option value="11210">11210</option>
<option value="11203">11203</option>
<option value="11229">11229</option>
<option value="11215">11215</option>
<option value="11223">11223</option>
<option value="11222">11222</option>
<option value="11211">11211</option>
<option value="11239">11239</option>
<option value="11370">11370</option>
<option value="11691">11691</option>
<option value="11692">11692</option>
<option value="11106">11106</option>
<option value="11103">11103</option>
<option value="11377">11377</option>
<option value="11105">11105</option>
<option value="11102">11102</option>
<option value="11101">11101</option>
<option value="11361">11361</option>
<option value="11360">11360</option>
<option value="11357">11357</option>
<option value="11358">11358</option>
<option value="11364">11364</option>
<option value="11694">11694</option>
<option value="11426">11426</option>
<option value="11428">11428</option>
<option value="11004">11004</option>
<option value="11001">11001</option>
<option value="11435">11435</option>
<option value="11693">11693</option>
<option value="11411">11411</option>
<option value="11356">11356</option>
<option value="11354">11354</option>
<option value="11420">11420</option>
<option value="11368">11368</option>
<option value="11373">11373</option>
<option value="11363">11363</option>
<option value="11362">11362</option>
<option value="11369">11369</option>
<option value="11378">11378</option>
<option value="11040">11040</option>
<option value="11355">11355</option>
<option value="11365">11365</option>
<option value="11367">11367</option>
<option value="11366">11366</option>
<option value="11375">11375</option>
<option value="11374">11374</option>
<option value="11005">11005</option>
<option value="11385">11385</option>
<option value="11421">11421</option>
<option value="11379">11379</option>
<option value="11432">11432</option>
<option value="11423">11423</option>
<option value="11412">11412</option>
<option value="11427">11427</option>
<option value="11429">11429</option>
<option value="11433">11433</option>
<option value="11414">11414</option>
<option value="11372">11372</option>
<option value="11422">11422</option>
<option value="11418">11418</option>
<option value="11415">11415</option>
<option value="11413">11413</option>
<option value="11416">11416</option>
<option value="11417">11417</option>
<option value="11419">11419</option>
<option value="11436">11436</option>
<option value="11434">11434</option>
<option value="11104">11104</option>
<option value="10312">10312</option>
<option value="10305">10305</option>
<option value="10314">10314</option>
<option value="10303">10303</option>
<option value="10310">10310</option>
<option value="10302">10302</option>
<option value="10301">10301</option>
<option value="10304">10304</option>
<option value="10306">10306</option>
<option value="10308">10308</option>
<option value="10309">10309</option>
<option value="10307">10307</option>

In [49]:
nyc_sales_df["TAX CLASS AT TIME OF SALE"].unique()

array([2, 1, 4])

In [3]:
nyc_sales_df.loc[nyc_sales_df["YEAR BUILT"]<1800]

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,ZIP CODE,TOTAL UNITS,SQFT,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE_PRICE,SALE PERIOD
1983,FINANCIAL,17 CONDO COOPS,10004,42,32843,0,2,26750000,7-2017
14555,BELMONT,12 CONDOS - WALKUP APARTMENTS,10458,1,0,0,2,175000,11-2016
14556,BELMONT,12 CONDOS - WALKUP APARTMENTS,10458,1,0,0,2,0,7-2017
16659,MORRISANIA/LONGWOOD,12 CONDOS - WALKUP APARTMENTS,10455,1,0,0,2,260000,4-2017
16660,MORRISANIA/LONGWOOD,12 CONDOS - WALKUP APARTMENTS,10455,1,0,0,2,217000,3-2017
...,...,...,...,...,...,...,...,...,...
43504,CORONA,07 RENTALS - WALKUP APARTMENTS,11368,8,6875,0,2,2318062,3-2017
43505,CORONA,07 RENTALS - WALKUP APARTMENTS,11368,8,6875,0,2,2153222,5-2017
45577,FLUSHING-NORTH,08 RENTALS - ELEVATOR APARTMENTS,11355,10,10111,0,2,4000000,5-2017
51576,LITTLE NECK,01 ONE FAMILY DWELLINGS,11362,1,5291,0,1,1731025,4-2017
61889,PRINCES BAY,02 TWO FAMILY DWELLINGS,10309,2,1800,0,1,626223,4-2017

In [8]:
for i in range(1900,2018):
    print(f'<option value="{i}">{i}</option>')

<option value="1900">1900</option>
<option value="1901">1901</option>
<option value="1902">1902</option>
<option value="1903">1903</option>
<option value="1904">1904</option>
<option value="1905">1905</option>
<option value="1906">1906</option>
<option value="1907">1907</option>
<option value="1908">1908</option>
<option value="1909">1909</option>
<option value="1910">1910</option>
<option value="1911">1911</option>
<option value="1912">1912</option>
<option value="1913">1913</option>
<option value="1914">1914</option>
<option value="1915">1915</option>
<option value="1916">1916</option>
<option value="1917">1917</option>
<option value="1918">1918</option>
<option value="1919">1919</option>
<option value="1920">1920</option>
<option value="1921">1921</option>
<option value="1922">1922</option>
<option value="1923">1923</option>
<option value="1924">1924</option>
<option value="1925">1925</option>
<option value="1926">1926</option>
<option value="1927">1927</option>
<option value="1928">1928</option>
<option value="1929">1929</option>
<option value="1930">1930</option>
<option value="1931">1931</option>
<option value="1932">1932</option>
<option value="1933">1933</option>
<option value="1934">1934</option>
<option value="1935">1935</option>
<option value="1936">1936</option>
<option value="1937">1937</option>
<option value="1938">1938</option>
<option value="1939">1939</option>
<option value="1940">1940</option>
<option value="1941">1941</option>
<option value="1942">1942</option>
<option value="1943">1943</option>
<option value="1944">1944</option>
<option value="1945">1945</option>
<option value="1946">1946</option>
<option value="1947">1947</option>
<option value="1948">1948</option>
<option value="1949">1949</option>
<option value="1950">1950</option>
<option value="1951">1951</option>
<option value="1952">1952</option>
<option value="1953">1953</option>
<option value="1954">1954</option>
<option value="1955">1955</option>
<option value="1956">1956</option>
<option value="1957">1957</option>
<option value="1958">1958</option>
<option value="1959">1959</option>
<option value="1960">1960</option>
<option value="1961">1961</option>
<option value="1962">1962</option>
<option value="1963">1963</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1969">1969</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1973">1973</option>
<option value="1974">1974</option>
<option value="1975">1975</option>
<option value="1976">1976</option>
<option value="1977">1977</option>
<option value="1978">1978</option>
<option value="1979">1979</option>
<option value="1980">1980</option>
<option value="1981">1981</option>
<option value="1982">1982</option>
<option value="1983">1983</option>
<option value="1984">1984</option>
<option value="1985">1985</option>
<option value="1986">1986</option>
<option value="1987">1987</option>
<option value="1988">1988</option>
<option value="1989">1989</option>
<option value="1990">1990</option>
<option value="1991">1991</option>
<option value="1992">1992</option>
<option value="1993">1993</option>
<option value="1994">1994</option>
<option value="1995">1995</option>
<option value="1996">1996</option>
<option value="1997">1997</option>
<option value="1998">1998</option>
<option value="1999">1999</option>
<option value="2000">2000</option>
<option value="2001">2001</option>
<option value="2002">2002</option>
<option value="2003">2003</option>
<option value="2004">2004</option>
<option value="2005">2005</option>
<option value="2006">2006</option>
<option value="2007">2007</option>
<option value="2008">2008</option>
<option value="2009">2009</option>
<option value="2010">2010</option>
<option value="2011">2011</option>
<option value="2012">2012</option>
<option value="2013">2013</option>
<option value="2014">2014</option>
<option value="2015">2015</option>
<option value="2016">2016</option>
<option value="2017">2017</option>

In [3]:
# Combine all similar neighborhoods
# for idx,row in nyc_sales_df.iterrows():
#     if "UPPER EAST" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "UPPER EAST SIDE"
#     elif "FLUSHING" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "FLUSHING"
#     elif "UPPER WEST" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "UPPER WEST SIDE"
#     elif "FLATBUSH" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "FLATBUSH"
#     elif "HARLEM" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "HARLEM"
#     elif "MIDTOWN" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "MIDTOWN"
#     elif "OCEAN PARKWAY" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "OCEAN PARKWAY"
#     elif "WILLIAMSBURG" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "WILLIAMSBURG"
# #     elif "PELHAM PARK" in str(row["NEIGHBORHOOD"]):
# #         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "PELHAM PARKWAY"


# nyc_sales_df

In [4]:
# One hot Encoding 
# print(nyc_sales_df['NEIGHBORHOOD'].nunique())
# print(nyc_sales_df['BUILDING CLASS CATEGORY'].nunique())
# print(nyc_sales_df['SALE PERIOD'].nunique())
# KEEPNS = nyc_sales_df['NEIGHBORHOOD'].value_counts().sort_values(ascending=False).head(30)
# for idx,row in nyc_sales_df.iterrows():
#     t = row['NEIGHBORHOOD']
#     if t in KEEPNS:
#         pass
#     else:
#         nyc_sales_df = nyc_sales_df.drop(index=idx, axis=0)
# nyc_sales_df

In [5]:
print(nyc_sales_df.dtypes)
for col in nyc_sales_df.columns:
    print(col)
    print(nyc_sales_df[col].nunique())

NEIGHBORHOOD                 object
BUILDING CLASS CATEGORY      object
ZIP CODE                      int64
TOTAL UNITS                   int64
SQFT                          int64
YEAR BUILT                    int64
TAX CLASS AT TIME OF SALE     int64
SALE_PRICE                    int64
SALE PERIOD                  object
dtype: object
NEIGHBORHOOD
247
BUILDING CLASS CATEGORY
15
ZIP CODE
176
TOTAL UNITS
153
SQFT
4453
YEAR BUILT
150
TAX CLASS AT TIME OF SALE
3
SALE_PRICE
5726
SALE PERIOD
12

In [14]:
# Convert categorical data to numeric
nyc_sales_df = pd.get_dummies(nyc_sales_df, drop_first=True)

In [15]:
nyc_sales_df.head()

,ZIP CODE,TOTAL UNITS,SQFT,YEAR BUILT,SALE_PRICE,NEIGHBORHOOD_ALPHABET CITY,NEIGHBORHOOD_ANNADALE,NEIGHBORHOOD_ARDEN HEIGHTS,NEIGHBORHOOD_ARROCHAR,NEIGHBORHOOD_ARROCHAR-SHORE ACRES,...,BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS,BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS,BUILDING CLASS CATEGORY_11A CONDO-RENTALS,BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS,BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS,BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT,BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL,BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,BUILDING CLASS CATEGORY_17 CONDO COOPS,BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS
0,10009,5,6440,1900,6625000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10009,10,6794,1913,3936272,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10009,6,4615,1900,8000000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10009,8,4226,1920,3192840,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10009,24,18523,1920,16232000,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
for col in nyc_sales_df.columns:
    print(col)

ZIP CODE
TOTAL UNITS
SQFT
YEAR BUILT
TAX CLASS AT TIME OF SALE
SALE_PRICE
NEIGHBORHOOD_ALPHABET CITY
NEIGHBORHOOD_ANNADALE
NEIGHBORHOOD_ARDEN HEIGHTS
NEIGHBORHOOD_ARROCHAR
NEIGHBORHOOD_ARROCHAR-SHORE ACRES
NEIGHBORHOOD_ARVERNE
NEIGHBORHOOD_ASTORIA
NEIGHBORHOOD_BATH BEACH
NEIGHBORHOOD_BATHGATE
NEIGHBORHOOD_BAY RIDGE
NEIGHBORHOOD_BAYCHESTER
NEIGHBORHOOD_BAYSIDE
NEIGHBORHOOD_BEDFORD PARK/NORWOOD
NEIGHBORHOOD_BEDFORD STUYVESANT
NEIGHBORHOOD_BEECHHURST
NEIGHBORHOOD_BELLE HARBOR
NEIGHBORHOOD_BELLEROSE
NEIGHBORHOOD_BELMONT
NEIGHBORHOOD_BENSONHURST
NEIGHBORHOOD_BERGEN BEACH
NEIGHBORHOOD_BOERUM HILL
NEIGHBORHOOD_BOROUGH PARK
NEIGHBORHOOD_BRIARWOOD
NEIGHBORHOOD_BRIGHTON BEACH
NEIGHBORHOOD_BROAD CHANNEL
NEIGHBORHOOD_BRONX PARK
NEIGHBORHOOD_BRONXDALE
NEIGHBORHOOD_BROOKLYN HEIGHTS
NEIGHBORHOOD_BROWNSVILLE
NEIGHBORHOOD_BULLS HEAD
NEIGHBORHOOD_BUSH TERMINAL
NEIGHBORHOOD_BUSHWICK
NEIGHBORHOOD_CAMBRIA HEIGHTS
NEIGHBORHOOD_CANARSIE
NEIGHBORHOOD_CARROLL GARDENS
NEIGHBORHOOD_CASTLE HILL/UNIONPORT
NEIGHBORHOOD_CASTLETON CORNERS
NEIGHBORHOOD_CHELSEA
NEIGHBORHOOD_CHINATOWN
NEIGHBORHOOD_CITY ISLAND
NEIGHBORHOOD_CITY ISLAND-PELHAM STRIP
NEIGHBORHOOD_CIVIC CENTER
NEIGHBORHOOD_CLINTON
NEIGHBORHOOD_CLINTON HILL
NEIGHBORHOOD_CLOVE LAKES
NEIGHBORHOOD_CO-OP CITY
NEIGHBORHOOD_COBBLE HILL
NEIGHBORHOOD_COBBLE HILL-WEST
NEIGHBORHOOD_COLLEGE POINT
NEIGHBORHOOD_CONCORD
NEIGHBORHOOD_CONCORD-FOX HILLS
NEIGHBORHOOD_CONEY ISLAND
NEIGHBORHOOD_CORONA
NEIGHBORHOOD_COUNTRY CLUB
NEIGHBORHOOD_CROTONA PARK
NEIGHBORHOOD_CROWN HEIGHTS
NEIGHBORHOOD_CYPRESS HILLS
NEIGHBORHOOD_DONGAN HILLS
NEIGHBORHOOD_DONGAN HILLS-COLONY
NEIGHBORHOOD_DONGAN HILLS-OLD TOWN
NEIGHBORHOOD_DOUGLASTON
NEIGHBORHOOD_DOWNTOWN-FULTON FERRY
NEIGHBORHOOD_DOWNTOWN-FULTON MALL
NEIGHBORHOOD_DOWNTOWN-METROTECH
NEIGHBORHOOD_DYKER HEIGHTS
NEIGHBORHOOD_EAST ELMHURST
NEIGHBORHOOD_EAST NEW YORK
NEIGHBORHOOD_EAST TREMONT
NEIGHBORHOOD_EAST VILLAGE
NEIGHBORHOOD_ELMHURST
NEIGHBORHOOD_ELTINGVILLE
NEIGHBORHOOD_EMERSON HILL
NEIGHBORHOOD_FAR ROCKAWAY
NEIGHBORHOOD_FASHION
NEIGHBORHOOD_FIELDSTON
NEIGHBORHOOD_FINANCIAL
NEIGHBORHOOD_FLATBUSH-CENTRAL
NEIGHBORHOOD_FLATBUSH-EAST
NEIGHBORHOOD_FLATBUSH-LEFFERTS GARDEN
NEIGHBORHOOD_FLATBUSH-NORTH
NEIGHBORHOOD_FLATIRON
NEIGHBORHOOD_FLATLANDS
NEIGHBORHOOD_FLORAL PARK
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_FLUSHING-SOUTH
NEIGHBORHOOD_FORDHAM
NEIGHBORHOOD_FOREST HILLS
NEIGHBORHOOD_FORT GREENE
NEIGHBORHOOD_FRESH KILLS
NEIGHBORHOOD_FRESH MEADOWS
NEIGHBORHOOD_GERRITSEN BEACH
NEIGHBORHOOD_GLEN OAKS
NEIGHBORHOOD_GLENDALE
NEIGHBORHOOD_GOWANUS
NEIGHBORHOOD_GRAMERCY
NEIGHBORHOOD_GRANT CITY
NEIGHBORHOOD_GRASMERE
NEIGHBORHOOD_GRAVESEND
NEIGHBORHOOD_GREAT KILLS
NEIGHBORHOOD_GREAT KILLS-BAY TERRACE
NEIGHBORHOOD_GREENPOINT
NEIGHBORHOOD_GREENWICH VILLAGE-CENTRAL
NEIGHBORHOOD_GREENWICH VILLAGE-WEST
NEIGHBORHOOD_GRYMES HILL
NEIGHBORHOOD_HAMMELS
NEIGHBORHOOD_HARLEM-CENTRAL
NEIGHBORHOOD_HARLEM-EAST
NEIGHBORHOOD_HARLEM-UPPER
NEIGHBORHOOD_HARLEM-WEST
NEIGHBORHOOD_HIGHBRIDGE/MORRIS HEIGHTS
NEIGHBORHOOD_HILLCREST
NEIGHBORHOOD_HOLLIS
NEIGHBORHOOD_HOLLIS HILLS
NEIGHBORHOOD_HOLLISWOOD
NEIGHBORHOOD_HOWARD BEACH
NEIGHBORHOOD_HUGUENOT
NEIGHBORHOOD_HUNTS POINT
NEIGHBORHOOD_INWOOD
NEIGHBORHOOD_JACKSON HEIGHTS
NEIGHBORHOOD_JAMAICA
NEIGHBORHOOD_JAMAICA BAY
NEIGHBORHOOD_JAMAICA ESTATES
NEIGHBORHOOD_JAMAICA HILLS
NEIGHBORHOOD_JAVITS CENTER
NEIGHBORHOOD_KENSINGTON
NEIGHBORHOOD_KEW GARDENS
NEIGHBORHOOD_KINGSBRIDGE HTS/UNIV HTS
NEIGHBORHOOD_KINGSBRIDGE/JEROME PARK
NEIGHBORHOOD_KIPS BAY
NEIGHBORHOOD_LAURELTON
NEIGHBORHOOD_LITTLE ITALY
NEIGHBORHOOD_LITTLE NECK
NEIGHBORHOOD_LIVINGSTON
NEIGHBORHOOD_LONG ISLAND CITY
NEIGHBORHOOD_LOWER EAST SIDE
NEIGHBORHOOD_MADISON
NEIGHBORHOOD_MANHATTAN BEACH
NEIGHBORHOOD_MANHATTAN VALLEY
NEIGHBORHOOD_MANOR HEIGHTS
NEIGHBORHOOD_MARINE PARK
NEIGHBORHOOD_MARINERS HARBOR
NEIGHBORHOOD_MASPETH
NEIGHBORHOOD_MELROSE/CONCOURSE
NEIGHBORHOOD_MIDDLE VILLAGE
NEIGHBORHOOD_MIDLAND BEACH
NEIGHBORHOOD_MIDTOWN EAST
NEIGHBORHOOD_MIDTOWN WEST
NEIGHBORHOOD_MIDWOOD
NEIGHBORHOOD_MILL BASIN
NEIGHBORHOOD_MORRIS PARK/VAN NEST
NEIGHBORHOOD_MORRISANIA/LONGWOOD
NEIGHBORHOOD_MOTT HAVEN/PORT MORRIS
NEIGHBORHOOD_MOUNT HOPE/MOUNT EDEN
NEIGHBORHOOD_MURRAY HILL
NEIGHBORHOOD_NAVY YARD
NEIGHBORHOOD_NEPONSIT
NEIGHBORHOOD_NEW BRIGHTON
NEIGHBORHOOD_NEW BRIGHTON-ST. GEORGE
NEIGHBORHOOD_NEW DORP
NEIGHBORHOOD_NEW DORP-BEACH
NEIGHBORHOOD_NEW DORP-HEIGHTS
NEIGHBORHOOD_NEW SPRINGVILLE
NEIGHBORHOOD_OAKLAND GARDENS
NEIGHBORHOOD_OAKWOOD
NEIGHBORHOOD_OAKWOOD-BEACH
NEIGHBORHOOD_OCEAN HILL
NEIGHBORHOOD_OCEAN PARKWAY-NORTH
NEIGHBORHOOD_OCEAN PARKWAY-SOUTH
NEIGHBORHOOD_OLD MILL BASIN
NEIGHBORHOOD_OZONE PARK
NEIGHBORHOOD_PARK SLOPE
NEIGHBORHOOD_PARK SLOPE SOUTH
NEIGHBORHOOD_PARKCHESTER
NEIGHBORHOOD_PELHAM GARDENS
NEIGHBORHOOD_PELHAM PARKWAY NORTH
NEIGHBORHOOD_PELHAM PARKWAY SOUTH
NEIGHBORHOOD_PLEASANT PLAINS
NEIGHBORHOOD_PORT IVORY
NEIGHBORHOOD_PORT RICHMOND
NEIGHBORHOOD_PRINCES BAY
NEIGHBORHOOD_PROSPECT HEIGHTS
NEIGHBORHOOD_QUEENS VILLAGE
NEIGHBORHOOD_RED HOOK
NEIGHBORHOOD_REGO PARK
NEIGHBORHOOD_RICHMOND HILL
NEIGHBORHOOD_RICHMONDTOWN
NEIGHBORHOOD_RICHMONDTOWN-LIGHTHS HILL
NEIGHBORHOOD_RIDGEWOOD
NEIGHBORHOOD_RIVERDALE
NEIGHBORHOOD_ROCKAWAY PARK
NEIGHBORHOOD_ROOSEVELT ISLAND
NEIGHBORHOOD_ROSEBANK
NEIGHBORHOOD_ROSEDALE
NEIGHBORHOOD_ROSSVILLE
NEIGHBORHOOD_ROSSVILLE-CHARLESTON
NEIGHBORHOOD_ROSSVILLE-RICHMOND VALLEY
NEIGHBORHOOD_SCHUYLERVILLE/PELHAM BAY
NEIGHBORHOOD_SEAGATE
NEIGHBORHOOD_SHEEPSHEAD BAY
NEIGHBORHOOD_SILVER LAKE
NEIGHBORHOOD_SO. JAMAICA-BAISLEY PARK
NEIGHBORHOOD_SOHO
NEIGHBORHOOD_SOUNDVIEW
NEIGHBORHOOD_SOUTH BEACH
NEIGHBORHOOD_SOUTH JAMAICA
NEIGHBORHOOD_SOUTH OZONE PARK
NEIGHBORHOOD_SOUTHBRIDGE
NEIGHBORHOOD_SPRING CREEK
NEIGHBORHOOD_SPRINGFIELD GARDENS
NEIGHBORHOOD_ST. ALBANS
NEIGHBORHOOD_STAPLETON
NEIGHBORHOOD_STAPLETON-CLIFTON
NEIGHBORHOOD_SUNNYSIDE
NEIGHBORHOOD_SUNSET PARK
NEIGHBORHOOD_THROGS NECK
NEIGHBORHOOD_TODT HILL
NEIGHBORHOOD_TOMPKINSVILLE
NEIGHBORHOOD_TOTTENVILLE
NEIGHBORHOOD_TRAVIS
NEIGHBORHOOD_TRIBECA
NEIGHBORHOOD_UPPER EAST SIDE (59-79)
NEIGHBORHOOD_UPPER EAST SIDE (79-96)
NEIGHBORHOOD_UPPER EAST SIDE (96-110)
NEIGHBORHOOD_UPPER WEST SIDE (59-79)
NEIGHBORHOOD_UPPER WEST SIDE (79-96)
NEIGHBORHOOD_UPPER WEST SIDE (96-116)
NEIGHBORHOOD_VAN CORTLANDT PARK
NEIGHBORHOOD_WAKEFIELD
NEIGHBORHOOD_WASHINGTON HEIGHTS LOWER
NEIGHBORHOOD_WASHINGTON HEIGHTS UPPER
NEIGHBORHOOD_WEST NEW BRIGHTON
NEIGHBORHOOD_WESTCHESTER
NEIGHBORHOOD_WESTERLEIGH
NEIGHBORHOOD_WHITESTONE
NEIGHBORHOOD_WILLIAMSBRIDGE
NEIGHBORHOOD_WILLIAMSBURG-CENTRAL
NEIGHBORHOOD_WILLIAMSBURG-EAST
NEIGHBORHOOD_WILLIAMSBURG-NORTH
NEIGHBORHOOD_WILLIAMSBURG-SOUTH
NEIGHBORHOOD_WILLOWBROOK
NEIGHBORHOOD_WINDSOR TERRACE
NEIGHBORHOOD_WOODHAVEN
NEIGHBORHOOD_WOODLAWN
NEIGHBORHOOD_WOODROW
NEIGHBORHOOD_WOODSIDE
NEIGHBORHOOD_WYCKOFF HEIGHTS
BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS
BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS
BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS
BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS
BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS
BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS
BUILDING CLASS CATEGORY_11A CONDO-RENTALS
BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS
BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS
BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT
BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL
BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT
BUILDING CLASS CATEGORY_17 CONDO COOPS
BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS
SALE PERIOD_10-2016
SALE PERIOD_11-2016
SALE PERIOD_12-2016
SALE PERIOD_2-2017
SALE PERIOD_3-2017
SALE PERIOD_4-2017
SALE PERIOD_5-2017
SALE PERIOD_6-2017
SALE PERIOD_7-2017
SALE PERIOD_8-2017
SALE PERIOD_9-2016

In [16]:
# Separate features
X = nyc_sales_df.drop(["SALE_PRICE"], axis=1)
y = nyc_sales_df["SALE_PRICE"]

In [17]:
# Create train and testing variables
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [18]:
# # Scale X
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
# testX = X.iloc[0:5000,:]
# testY = y.iloc[0:5000]
# print(testX.shape)
# print(testY.shape)

In [13]:
#delete this cell later
# X_train, X_test, y_train, y_test = train_test_split(testX, testY, random_state=42)
# # Scale X
# scaler = StandardScaler().fit(X_train)
# X_train_scaled = scaler.transform(X_train)
# X_test_scaled = scaler.transform(X_test)

In [22]:
from sklearn.linear_model import LinearRegression
# model = LinearRegression()
reg = LinearRegression().fit(X_train, y_train)
reg.score(X_test, y_test)

0.18038712950763325

In [19]:
#RANDOM FOREST

model = RandomForestRegressor(random_state=1).fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)
#print(classification_report(y_test, y_pred, target_names=target_names))
print(f'Training Score: {model.score(X_train_scaled, y_train)}')
print(f'Testing Score: {model.score(X_test_scaled, y_test)}')

Training Score: 0.871130338327723
Testing Score: 0.25775901360635967

In [23]:
#RANDOM FOREST on unscaled
model = RandomForestRegressor(random_state=1).fit(X_train, y_train)
y_pred = model.predict(X_test)
#print(classification_report(y_test, y_pred, target_names=target_names))
print(f'Training Score: {model.score(X_train, y_train)}')
print(f'Testing Score: {model.score(X_test, y_test)}')

Training Score: 0.8710044594991614
Testing Score: 0.2577028472271581

In [24]:
# Dumps first one with scaled
from joblib import dump
dump(model, 'RandomForest2.joblib')

['RandomForest2.joblib']

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
clf = ExtraTreesRegressor(random_state=1).fit(X_train_scaled, y_train)
y_pred = clf.predict(X_test_scaled)
#print(classification_report(y_test, y_pred, target_names=target_names))
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
clf = AdaBoostRegressor(random_state=1).fit(X_train_scaled, y_train)
y_pred = clf.predict(X_test_scaled)
#print(classification_report(y_test, y_pred, target_names=target_names))
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

In [ ]:
def model_tester(model):
    clf = model.fit(X_train_scaled, y_train)
    #print(classification_report(y_test, y_pred, target_names=target_names))
    print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
    print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')
    
model_tester(ExtraTreesRegressor(random_state=1, n_estimators=200))
model_tester(ExtraTreesRegressor(random_state=1, n_estimators=500))
model_tester(ExtraTreesRegressor(random_state=1, n_estimators=1000))
model_tester(ExtraTreesRegressor(random_state=1, n_estimators=2000))
model_tester(RandomForestRegressor(random_state=1, n_estimators=200))
model_tester(RandomForestRegressor(random_state=1, n_estimators=500))
model_tester(RandomForestRegressor(random_state=1, n_estimators=1000))
model_tester(RandomForestRegressor(random_state=1, n_estimators=2000))

In [ ]:
model_tester(RandomForestRegressor(random_state=1, n_estimators=50))
model_tester(RandomForestRegressor(random_state=1, n_estimators=20))
model_tester(RandomForestRegressor(random_state=1, n_estimators=15))
model_tester(RandomForestRegressor(random_state=1, n_estimators=10))
model_tester(RandomForestRegressor(random_state=1, n_estimators=5))

In [ ]:
# plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c="blue", label="Training Data")
# plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c="orange", label="Testing Data")
# plt.legend()
# plt.hlines(y=0, xmin=y.min(), xmax=y.max())
# plt.title("Residual Plot")
# plt.show()

In [24]:
for i in range(1,50):
    val = str(i*1000) + "-" + str((i+1)*1000)
    print(f'<option value="{i}">{val}</option>')

<option value="1">1000-2000</option>
<option value="2">2000-3000</option>
<option value="3">3000-4000</option>
<option value="4">4000-5000</option>
<option value="5">5000-6000</option>
<option value="6">6000-7000</option>
<option value="7">7000-8000</option>
<option value="8">8000-9000</option>
<option value="9">9000-10000</option>
<option value="10">10000-11000</option>
<option value="11">11000-12000</option>
<option value="12">12000-13000</option>
<option value="13">13000-14000</option>
<option value="14">14000-15000</option>
<option value="15">15000-16000</option>
<option value="16">16000-17000</option>
<option value="17">17000-18000</option>
<option value="18">18000-19000</option>
<option value="19">19000-20000</option>
<option value="20">20000-21000</option>
<option value="21">21000-22000</option>
<option value="22">22000-23000</option>
<option value="23">23000-24000</option>
<option value="24">24000-25000</option>
<option value="25">25000-26000</option>
<option value="26">26000-27000</option>
<option value="27">27000-28000</option>
<option value="28">28000-29000</option>
<option value="29">29000-30000</option>
<option value="30">30000-31000</option>
<option value="31">31000-32000</option>
<option value="32">32000-33000</option>
<option value="33">33000-34000</option>
<option value="34">34000-35000</option>
<option value="35">35000-36000</option>
<option value="36">36000-37000</option>
<option value="37">37000-38000</option>
<option value="38">38000-39000</option>
<option value="39">39000-40000</option>
<option value="40">40000-41000</option>
<option value="41">41000-42000</option>
<option value="42">42000-43000</option>
<option value="43">43000-44000</option>
<option value="44">44000-45000</option>
<option value="45">45000-46000</option>
<option value="46">46000-47000</option>
<option value="47">47000-48000</option>
<option value="48">48000-49000</option>
<option value="49">49000-50000</option>

In [26]:
model_inputs = []
for m in X_train.columns:
    model_inputs.append(m)
print(model_inputs)

['ZIP CODE', 'TOTAL UNITS', 'SQFT', 'YEAR BUILT', 'NEIGHBORHOOD_ALPHABET CITY', 'NEIGHBORHOOD_ANNADALE', 'NEIGHBORHOOD_ARDEN HEIGHTS', 'NEIGHBORHOOD_ARROCHAR', 'NEIGHBORHOOD_ARROCHAR-SHORE ACRES', 'NEIGHBORHOOD_ARVERNE', 'NEIGHBORHOOD_ASTORIA', 'NEIGHBORHOOD_BATH BEACH', 'NEIGHBORHOOD_BATHGATE', 'NEIGHBORHOOD_BAY RIDGE', 'NEIGHBORHOOD_BAYCHESTER', 'NEIGHBORHOOD_BAYSIDE', 'NEIGHBORHOOD_BEDFORD PARK/NORWOOD', 'NEIGHBORHOOD_BEDFORD STUYVESANT', 'NEIGHBORHOOD_BEECHHURST', 'NEIGHBORHOOD_BELLE HARBOR', 'NEIGHBORHOOD_BELLEROSE', 'NEIGHBORHOOD_BELMONT', 'NEIGHBORHOOD_BENSONHURST', 'NEIGHBORHOOD_BERGEN BEACH', 'NEIGHBORHOOD_BOERUM HILL', 'NEIGHBORHOOD_BOROUGH PARK', 'NEIGHBORHOOD_BRIARWOOD', 'NEIGHBORHOOD_BRIGHTON BEACH', 'NEIGHBORHOOD_BROAD CHANNEL', 'NEIGHBORHOOD_BRONX PARK', 'NEIGHBORHOOD_BRONXDALE', 'NEIGHBORHOOD_BROOKLYN HEIGHTS', 'NEIGHBORHOOD_BROWNSVILLE', 'NEIGHBORHOOD_BULLS HEAD', 'NEIGHBORHOOD_BUSH TERMINAL', 'NEIGHBORHOOD_BUSHWICK', 'NEIGHBORHOOD_CAMBRIA HEIGHTS', 'NEIGHBORHOOD_CANARSIE', 'NEIGHBORHOOD_CARROLL GARDENS', 'NEIGHBORHOOD_CASTLE HILL/UNIONPORT', 'NEIGHBORHOOD_CASTLETON CORNERS', 'NEIGHBORHOOD_CHELSEA', 'NEIGHBORHOOD_CHINATOWN', 'NEIGHBORHOOD_CITY ISLAND', 'NEIGHBORHOOD_CITY ISLAND-PELHAM STRIP', 'NEIGHBORHOOD_CIVIC CENTER', 'NEIGHBORHOOD_CLINTON', 'NEIGHBORHOOD_CLINTON HILL', 'NEIGHBORHOOD_CLOVE LAKES', 'NEIGHBORHOOD_CO-OP CITY', 'NEIGHBORHOOD_COBBLE HILL', 'NEIGHBORHOOD_COBBLE HILL-WEST', 'NEIGHBORHOOD_COLLEGE POINT', 'NEIGHBORHOOD_CONCORD', 'NEIGHBORHOOD_CONCORD-FOX HILLS', 'NEIGHBORHOOD_CONEY ISLAND', 'NEIGHBORHOOD_CORONA', 'NEIGHBORHOOD_COUNTRY CLUB', 'NEIGHBORHOOD_CROTONA PARK', 'NEIGHBORHOOD_CROWN HEIGHTS', 'NEIGHBORHOOD_CYPRESS HILLS', 'NEIGHBORHOOD_DONGAN HILLS', 'NEIGHBORHOOD_DONGAN HILLS-COLONY', 'NEIGHBORHOOD_DONGAN HILLS-OLD TOWN', 'NEIGHBORHOOD_DOUGLASTON', 'NEIGHBORHOOD_DOWNTOWN-FULTON FERRY', 'NEIGHBORHOOD_DOWNTOWN-FULTON MALL', 'NEIGHBORHOOD_DOWNTOWN-METROTECH', 'NEIGHBORHOOD_DYKER HEIGHTS', 'NEIGHBORHOOD_EAST ELMHURST', 'NEIGHBORHOOD_EAST NEW YORK', 'NEIGHBORHOOD_EAST TREMONT', 'NEIGHBORHOOD_EAST VILLAGE', 'NEIGHBORHOOD_ELMHURST', 'NEIGHBORHOOD_ELTINGVILLE', 'NEIGHBORHOOD_EMERSON HILL', 'NEIGHBORHOOD_FAR ROCKAWAY', 'NEIGHBORHOOD_FASHION', 'NEIGHBORHOOD_FIELDSTON', 'NEIGHBORHOOD_FINANCIAL', 'NEIGHBORHOOD_FLATBUSH-CENTRAL', 'NEIGHBORHOOD_FLATBUSH-EAST', 'NEIGHBORHOOD_FLATBUSH-LEFFERTS GARDEN', 'NEIGHBORHOOD_FLATBUSH-NORTH', 'NEIGHBORHOOD_FLATIRON', 'NEIGHBORHOOD_FLATLANDS', 'NEIGHBORHOOD_FLORAL PARK', 'NEIGHBORHOOD_FLUSHING-NORTH', 'NEIGHBORHOOD_FLUSHING-SOUTH', 'NEIGHBORHOOD_FORDHAM', 'NEIGHBORHOOD_FOREST HILLS', 'NEIGHBORHOOD_FORT GREENE', 'NEIGHBORHOOD_FRESH KILLS', 'NEIGHBORHOOD_FRESH MEADOWS', 'NEIGHBORHOOD_GERRITSEN BEACH', 'NEIGHBORHOOD_GLEN OAKS', 'NEIGHBORHOOD_GLENDALE', 'NEIGHBORHOOD_GOWANUS', 'NEIGHBORHOOD_GRAMERCY', 'NEIGHBORHOOD_GRANT CITY', 'NEIGHBORHOOD_GRASMERE', 'NEIGHBORHOOD_GRAVESEND', 'NEIGHBORHOOD_GREAT KILLS', 'NEIGHBORHOOD_GREAT KILLS-BAY TERRACE', 'NEIGHBORHOOD_GREENPOINT', 'NEIGHBORHOOD_GREENWICH VILLAGE-CENTRAL', 'NEIGHBORHOOD_GREENWICH VILLAGE-WEST', 'NEIGHBORHOOD_GRYMES HILL', 'NEIGHBORHOOD_HAMMELS', 'NEIGHBORHOOD_HARLEM-CENTRAL', 'NEIGHBORHOOD_HARLEM-EAST', 'NEIGHBORHOOD_HARLEM-UPPER', 'NEIGHBORHOOD_HARLEM-WEST', 'NEIGHBORHOOD_HIGHBRIDGE/MORRIS HEIGHTS', 'NEIGHBORHOOD_HILLCREST', 'NEIGHBORHOOD_HOLLIS', 'NEIGHBORHOOD_HOLLIS HILLS', 'NEIGHBORHOOD_HOLLISWOOD', 'NEIGHBORHOOD_HOWARD BEACH', 'NEIGHBORHOOD_HUGUENOT', 'NEIGHBORHOOD_HUNTS POINT', 'NEIGHBORHOOD_INWOOD', 'NEIGHBORHOOD_JACKSON HEIGHTS', 'NEIGHBORHOOD_JAMAICA', 'NEIGHBORHOOD_JAMAICA BAY', 'NEIGHBORHOOD_JAMAICA ESTATES', 'NEIGHBORHOOD_JAMAICA HILLS', 'NEIGHBORHOOD_JAVITS CENTER', 'NEIGHBORHOOD_KENSINGTON', 'NEIGHBORHOOD_KEW GARDENS', 'NEIGHBORHOOD_KINGSBRIDGE HTS/UNIV HTS', 'NEIGHBORHOOD_KINGSBRIDGE/JEROME PARK', 'NEIGHBORHOOD_KIPS BAY', 'NEIGHBORHOOD_LAURELTON', 'NEIGHBORHOOD_LITTLE ITALY', 'NEIGHBORHOOD_LITTLE NECK', 'NEIGHBORHOOD_LIVINGSTON', 'NEIGHBORHOOD_LONG ISLAND CITY', 'NEIGHBORHOOD_LOWER EAST SIDE', 'NEIGHBORHOOD_MADISON', 'NEIGHBORHOOD_MANHATTAN BEACH', 'NEIGHBORHOOD_MANHATTAN VALLEY', 'NEIGHBORHOOD_MANOR HEIGHTS', 'NEIGHBORHOOD_MARINE PARK', 'NEIGHBORHOOD_MARINERS HARBOR', 'NEIGHBORHOOD_MASPETH', 'NEIGHBORHOOD_MELROSE/CONCOURSE', 'NEIGHBORHOOD_MIDDLE VILLAGE', 'NEIGHBORHOOD_MIDLAND BEACH', 'NEIGHBORHOOD_MIDTOWN EAST', 'NEIGHBORHOOD_MIDTOWN WEST', 'NEIGHBORHOOD_MIDWOOD', 'NEIGHBORHOOD_MILL BASIN', 'NEIGHBORHOOD_MORRIS PARK/VAN NEST', 'NEIGHBORHOOD_MORRISANIA/LONGWOOD', 'NEIGHBORHOOD_MOTT HAVEN/PORT MORRIS', 'NEIGHBORHOOD_MOUNT HOPE/MOUNT EDEN', 'NEIGHBORHOOD_MURRAY HILL', 'NEIGHBORHOOD_NAVY YARD', 'NEIGHBORHOOD_NEPONSIT', 'NEIGHBORHOOD_NEW BRIGHTON', 'NEIGHBORHOOD_NEW BRIGHTON-ST. GEORGE', 'NEIGHBORHOOD_NEW DORP', 'NEIGHBORHOOD_NEW DORP-BEACH', 'NEIGHBORHOOD_NEW DORP-HEIGHTS', 'NEIGHBORHOOD_NEW SPRINGVILLE', 'NEIGHBORHOOD_OAKLAND GARDENS', 'NEIGHBORHOOD_OAKWOOD', 'NEIGHBORHOOD_OAKWOOD-BEACH', 'NEIGHBORHOOD_OCEAN HILL', 'NEIGHBORHOOD_OCEAN PARKWAY-NORTH', 'NEIGHBORHOOD_OCEAN PARKWAY-SOUTH', 'NEIGHBORHOOD_OLD MILL BASIN', 'NEIGHBORHOOD_OZONE PARK', 'NEIGHBORHOOD_PARK SLOPE', 'NEIGHBORHOOD_PARK SLOPE SOUTH', 'NEIGHBORHOOD_PARKCHESTER', 'NEIGHBORHOOD_PELHAM GARDENS', 'NEIGHBORHOOD_PELHAM PARKWAY NORTH', 'NEIGHBORHOOD_PELHAM PARKWAY SOUTH', 'NEIGHBORHOOD_PLEASANT PLAINS', 'NEIGHBORHOOD_PORT IVORY', 'NEIGHBORHOOD_PORT RICHMOND', 'NEIGHBORHOOD_PRINCES BAY', 'NEIGHBORHOOD_PROSPECT HEIGHTS', 'NEIGHBORHOOD_QUEENS VILLAGE', 'NEIGHBORHOOD_RED HOOK', 'NEIGHBORHOOD_REGO PARK', 'NEIGHBORHOOD_RICHMOND HILL', 'NEIGHBORHOOD_RICHMONDTOWN', 'NEIGHBORHOOD_RICHMONDTOWN-LIGHTHS HILL', 'NEIGHBORHOOD_RIDGEWOOD', 'NEIGHBORHOOD_RIVERDALE', 'NEIGHBORHOOD_ROCKAWAY PARK', 'NEIGHBORHOOD_ROOSEVELT ISLAND', 'NEIGHBORHOOD_ROSEBANK', 'NEIGHBORHOOD_ROSEDALE', 'NEIGHBORHOOD_ROSSVILLE', 'NEIGHBORHOOD_ROSSVILLE-CHARLESTON', 'NEIGHBORHOOD_ROSSVILLE-RICHMOND VALLEY', 'NEIGHBORHOOD_SCHUYLERVILLE/PELHAM BAY', 'NEIGHBORHOOD_SEAGATE', 'NEIGHBORHOOD_SHEEPSHEAD BAY', 'NEIGHBORHOOD_SILVER LAKE', 'NEIGHBORHOOD_SO. JAMAICA-BAISLEY PARK', 'NEIGHBORHOOD_SOHO', 'NEIGHBORHOOD_SOUNDVIEW', 'NEIGHBORHOOD_SOUTH BEACH', 'NEIGHBORHOOD_SOUTH JAMAICA', 'NEIGHBORHOOD_SOUTH OZONE PARK', 'NEIGHBORHOOD_SOUTHBRIDGE', 'NEIGHBORHOOD_SPRING CREEK', 'NEIGHBORHOOD_SPRINGFIELD GARDENS', 'NEIGHBORHOOD_ST. ALBANS', 'NEIGHBORHOOD_STAPLETON', 'NEIGHBORHOOD_STAPLETON-CLIFTON', 'NEIGHBORHOOD_SUNNYSIDE', 'NEIGHBORHOOD_SUNSET PARK', 'NEIGHBORHOOD_THROGS NECK', 'NEIGHBORHOOD_TODT HILL', 'NEIGHBORHOOD_TOMPKINSVILLE', 'NEIGHBORHOOD_TOTTENVILLE', 'NEIGHBORHOOD_TRAVIS', 'NEIGHBORHOOD_TRIBECA', 'NEIGHBORHOOD_UPPER EAST SIDE (59-79)', 'NEIGHBORHOOD_UPPER EAST SIDE (79-96)', 'NEIGHBORHOOD_UPPER EAST SIDE (96-110)', 'NEIGHBORHOOD_UPPER WEST SIDE (59-79)', 'NEIGHBORHOOD_UPPER WEST SIDE (79-96)', 'NEIGHBORHOOD_UPPER WEST SIDE (96-116)', 'NEIGHBORHOOD_VAN CORTLANDT PARK', 'NEIGHBORHOOD_WAKEFIELD', 'NEIGHBORHOOD_WASHINGTON HEIGHTS LOWER', 'NEIGHBORHOOD_WASHINGTON HEIGHTS UPPER', 'NEIGHBORHOOD_WEST NEW BRIGHTON', 'NEIGHBORHOOD_WESTCHESTER', 'NEIGHBORHOOD_WESTERLEIGH', 'NEIGHBORHOOD_WHITESTONE', 'NEIGHBORHOOD_WILLIAMSBRIDGE', 'NEIGHBORHOOD_WILLIAMSBURG-CENTRAL', 'NEIGHBORHOOD_WILLIAMSBURG-EAST', 'NEIGHBORHOOD_WILLIAMSBURG-NORTH', 'NEIGHBORHOOD_WILLIAMSBURG-SOUTH', 'NEIGHBORHOOD_WILLOWBROOK', 'NEIGHBORHOOD_WINDSOR TERRACE', 'NEIGHBORHOOD_WOODHAVEN', 'NEIGHBORHOOD_WOODLAWN', 'NEIGHBORHOOD_WOODROW', 'NEIGHBORHOOD_WOODSIDE', 'NEIGHBORHOOD_WYCKOFF HEIGHTS', 'BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS                    ', 'BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS                  ', 'BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS             ', 'BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS           ', 'BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS               ', 'BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS             ', 'BUILDING CLASS CATEGORY_11A CONDO-RENTALS                           ', 'BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS              ', 'BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS            ', 'BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT                     ', 'BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL          ', 'BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT ', 'BUILDING CLASS CATEGORY_17 CONDO COOPS                             ', 'BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS                   ']

In [30]:
neighborhood = "CHELSEA"
units = 10
sqft = "1000-2000"
zip1 = "10009"
year = 2000
building_type = 'BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS                   '

if "-" in sqft:
            sqft1 = int(sqft.split("-")[0]) + 500
else:
            sqft1 = 51000

        # Convert set of inputs into a dictionary (and then dataframe)
dic = {"ZIP CODE": int(zip1),
                "TOTAL UNITS": int(units),
                "SQFT": sqft1,
                "YEAR BUILT": int(year)}

        # list of all model params
model_params = ['ZIP CODE', 'TOTAL UNITS', 'SQFT', 'YEAR BUILT', 'NEIGHBORHOOD_ALPHABET CITY', 'NEIGHBORHOOD_ANNADALE', 'NEIGHBORHOOD_ARDEN HEIGHTS', 'NEIGHBORHOOD_ARROCHAR', 'NEIGHBORHOOD_ARROCHAR-SHORE ACRES', 'NEIGHBORHOOD_ARVERNE', 'NEIGHBORHOOD_ASTORIA', 'NEIGHBORHOOD_BATH BEACH', 'NEIGHBORHOOD_BATHGATE', 'NEIGHBORHOOD_BAY RIDGE', 'NEIGHBORHOOD_BAYCHESTER', 'NEIGHBORHOOD_BAYSIDE', 'NEIGHBORHOOD_BEDFORD PARK/NORWOOD', 'NEIGHBORHOOD_BEDFORD STUYVESANT', 'NEIGHBORHOOD_BEECHHURST', 'NEIGHBORHOOD_BELLE HARBOR', 'NEIGHBORHOOD_BELLEROSE', 'NEIGHBORHOOD_BELMONT', 'NEIGHBORHOOD_BENSONHURST', 'NEIGHBORHOOD_BERGEN BEACH', 'NEIGHBORHOOD_BOERUM HILL', 'NEIGHBORHOOD_BOROUGH PARK', 'NEIGHBORHOOD_BRIARWOOD', 'NEIGHBORHOOD_BRIGHTON BEACH', 'NEIGHBORHOOD_BROAD CHANNEL', 'NEIGHBORHOOD_BRONX PARK', 'NEIGHBORHOOD_BRONXDALE', 'NEIGHBORHOOD_BROOKLYN HEIGHTS', 'NEIGHBORHOOD_BROWNSVILLE', 'NEIGHBORHOOD_BULLS HEAD', 'NEIGHBORHOOD_BUSH TERMINAL', 'NEIGHBORHOOD_BUSHWICK', 'NEIGHBORHOOD_CAMBRIA HEIGHTS', 'NEIGHBORHOOD_CANARSIE', 'NEIGHBORHOOD_CARROLL GARDENS', 'NEIGHBORHOOD_CASTLE HILL/UNIONPORT', 'NEIGHBORHOOD_CASTLETON CORNERS', 'NEIGHBORHOOD_CHELSEA', 'NEIGHBORHOOD_CHINATOWN', 'NEIGHBORHOOD_CITY ISLAND', 'NEIGHBORHOOD_CITY ISLAND-PELHAM STRIP', 'NEIGHBORHOOD_CIVIC CENTER', 'NEIGHBORHOOD_CLINTON', 'NEIGHBORHOOD_CLINTON HILL', 'NEIGHBORHOOD_CLOVE LAKES', 'NEIGHBORHOOD_CO-OP CITY', 'NEIGHBORHOOD_COBBLE HILL', 'NEIGHBORHOOD_COBBLE HILL-WEST', 'NEIGHBORHOOD_COLLEGE POINT', 'NEIGHBORHOOD_CONCORD', 'NEIGHBORHOOD_CONCORD-FOX HILLS', 'NEIGHBORHOOD_CONEY ISLAND', 'NEIGHBORHOOD_CORONA', 'NEIGHBORHOOD_COUNTRY CLUB', 'NEIGHBORHOOD_CROTONA PARK', 'NEIGHBORHOOD_CROWN HEIGHTS', 'NEIGHBORHOOD_CYPRESS HILLS', 'NEIGHBORHOOD_DONGAN HILLS', 'NEIGHBORHOOD_DONGAN HILLS-COLONY', 'NEIGHBORHOOD_DONGAN HILLS-OLD TOWN', 'NEIGHBORHOOD_DOUGLASTON', 'NEIGHBORHOOD_DOWNTOWN-FULTON FERRY', 'NEIGHBORHOOD_DOWNTOWN-FULTON MALL', 'NEIGHBORHOOD_DOWNTOWN-METROTECH', 'NEIGHBORHOOD_DYKER HEIGHTS', 'NEIGHBORHOOD_EAST ELMHURST', 'NEIGHBORHOOD_EAST NEW YORK', 'NEIGHBORHOOD_EAST TREMONT', 'NEIGHBORHOOD_EAST VILLAGE', 'NEIGHBORHOOD_ELMHURST', 'NEIGHBORHOOD_ELTINGVILLE', 'NEIGHBORHOOD_EMERSON HILL', 'NEIGHBORHOOD_FAR ROCKAWAY', 'NEIGHBORHOOD_FASHION', 'NEIGHBORHOOD_FIELDSTON', 'NEIGHBORHOOD_FINANCIAL', 'NEIGHBORHOOD_FLATBUSH-CENTRAL', 'NEIGHBORHOOD_FLATBUSH-EAST', 'NEIGHBORHOOD_FLATBUSH-LEFFERTS GARDEN', 'NEIGHBORHOOD_FLATBUSH-NORTH', 'NEIGHBORHOOD_FLATIRON', 'NEIGHBORHOOD_FLATLANDS', 'NEIGHBORHOOD_FLORAL PARK', 'NEIGHBORHOOD_FLUSHING-NORTH', 'NEIGHBORHOOD_FLUSHING-SOUTH', 'NEIGHBORHOOD_FORDHAM', 'NEIGHBORHOOD_FOREST HILLS', 'NEIGHBORHOOD_FORT GREENE', 'NEIGHBORHOOD_FRESH KILLS', 'NEIGHBORHOOD_FRESH MEADOWS', 'NEIGHBORHOOD_GERRITSEN BEACH', 'NEIGHBORHOOD_GLEN OAKS', 'NEIGHBORHOOD_GLENDALE', 'NEIGHBORHOOD_GOWANUS', 'NEIGHBORHOOD_GRAMERCY', 'NEIGHBORHOOD_GRANT CITY', 'NEIGHBORHOOD_GRASMERE', 'NEIGHBORHOOD_GRAVESEND', 'NEIGHBORHOOD_GREAT KILLS', 'NEIGHBORHOOD_GREAT KILLS-BAY TERRACE', 'NEIGHBORHOOD_GREENPOINT', 'NEIGHBORHOOD_GREENWICH VILLAGE-CENTRAL', 'NEIGHBORHOOD_GREENWICH VILLAGE-WEST', 'NEIGHBORHOOD_GRYMES HILL', 'NEIGHBORHOOD_HAMMELS', 'NEIGHBORHOOD_HARLEM-CENTRAL', 'NEIGHBORHOOD_HARLEM-EAST', 'NEIGHBORHOOD_HARLEM-UPPER', 'NEIGHBORHOOD_HARLEM-WEST', 'NEIGHBORHOOD_HIGHBRIDGE/MORRIS HEIGHTS', 'NEIGHBORHOOD_HILLCREST', 'NEIGHBORHOOD_HOLLIS', 'NEIGHBORHOOD_HOLLIS HILLS', 'NEIGHBORHOOD_HOLLISWOOD', 'NEIGHBORHOOD_HOWARD BEACH', 'NEIGHBORHOOD_HUGUENOT', 'NEIGHBORHOOD_HUNTS POINT', 'NEIGHBORHOOD_INWOOD', 'NEIGHBORHOOD_JACKSON HEIGHTS', 'NEIGHBORHOOD_JAMAICA', 'NEIGHBORHOOD_JAMAICA BAY', 'NEIGHBORHOOD_JAMAICA ESTATES', 'NEIGHBORHOOD_JAMAICA HILLS', 'NEIGHBORHOOD_JAVITS CENTER', 'NEIGHBORHOOD_KENSINGTON', 'NEIGHBORHOOD_KEW GARDENS', 'NEIGHBORHOOD_KINGSBRIDGE HTS/UNIV HTS', 'NEIGHBORHOOD_KINGSBRIDGE/JEROME PARK', 'NEIGHBORHOOD_KIPS BAY', 'NEIGHBORHOOD_LAURELTON', 'NEIGHBORHOOD_LITTLE ITALY', 'NEIGHBORHOOD_LITTLE NECK', 'NEIGHBORHOOD_LIVINGSTON', 'NEIGHBORHOOD_LONG ISLAND CITY', 'NEIGHBORHOOD_LOWER EAST SIDE', 'NEIGHBORHOOD_MADISON', 'NEIGHBORHOOD_MANHATTAN BEACH', 'NEIGHBORHOOD_MANHATTAN VALLEY', 'NEIGHBORHOOD_MANOR HEIGHTS', 'NEIGHBORHOOD_MARINE PARK', 'NEIGHBORHOOD_MARINERS HARBOR', 'NEIGHBORHOOD_MASPETH', 'NEIGHBORHOOD_MELROSE/CONCOURSE', 'NEIGHBORHOOD_MIDDLE VILLAGE', 'NEIGHBORHOOD_MIDLAND BEACH', 'NEIGHBORHOOD_MIDTOWN EAST', 'NEIGHBORHOOD_MIDTOWN WEST', 'NEIGHBORHOOD_MIDWOOD', 'NEIGHBORHOOD_MILL BASIN', 'NEIGHBORHOOD_MORRIS PARK/VAN NEST', 'NEIGHBORHOOD_MORRISANIA/LONGWOOD', 'NEIGHBORHOOD_MOTT HAVEN/PORT MORRIS', 'NEIGHBORHOOD_MOUNT HOPE/MOUNT EDEN', 'NEIGHBORHOOD_MURRAY HILL', 'NEIGHBORHOOD_NAVY YARD', 'NEIGHBORHOOD_NEPONSIT', 'NEIGHBORHOOD_NEW BRIGHTON', 'NEIGHBORHOOD_NEW BRIGHTON-ST. GEORGE', 'NEIGHBORHOOD_NEW DORP', 'NEIGHBORHOOD_NEW DORP-BEACH', 'NEIGHBORHOOD_NEW DORP-HEIGHTS', 'NEIGHBORHOOD_NEW SPRINGVILLE', 'NEIGHBORHOOD_OAKLAND GARDENS', 'NEIGHBORHOOD_OAKWOOD', 'NEIGHBORHOOD_OAKWOOD-BEACH', 'NEIGHBORHOOD_OCEAN HILL', 'NEIGHBORHOOD_OCEAN PARKWAY-NORTH', 'NEIGHBORHOOD_OCEAN PARKWAY-SOUTH', 'NEIGHBORHOOD_OLD MILL BASIN', 'NEIGHBORHOOD_OZONE PARK', 'NEIGHBORHOOD_PARK SLOPE', 'NEIGHBORHOOD_PARK SLOPE SOUTH', 'NEIGHBORHOOD_PARKCHESTER', 'NEIGHBORHOOD_PELHAM GARDENS', 'NEIGHBORHOOD_PELHAM PARKWAY NORTH', 'NEIGHBORHOOD_PELHAM PARKWAY SOUTH', 'NEIGHBORHOOD_PLEASANT PLAINS', 'NEIGHBORHOOD_PORT IVORY', 'NEIGHBORHOOD_PORT RICHMOND', 'NEIGHBORHOOD_PRINCES BAY', 'NEIGHBORHOOD_PROSPECT HEIGHTS', 'NEIGHBORHOOD_QUEENS VILLAGE', 'NEIGHBORHOOD_RED HOOK', 'NEIGHBORHOOD_REGO PARK', 'NEIGHBORHOOD_RICHMOND HILL', 'NEIGHBORHOOD_RICHMONDTOWN', 'NEIGHBORHOOD_RICHMONDTOWN-LIGHTHS HILL', 'NEIGHBORHOOD_RIDGEWOOD', 'NEIGHBORHOOD_RIVERDALE', 'NEIGHBORHOOD_ROCKAWAY PARK', 'NEIGHBORHOOD_ROOSEVELT ISLAND', 'NEIGHBORHOOD_ROSEBANK', 'NEIGHBORHOOD_ROSEDALE', 'NEIGHBORHOOD_ROSSVILLE', 'NEIGHBORHOOD_ROSSVILLE-CHARLESTON', 'NEIGHBORHOOD_ROSSVILLE-RICHMOND VALLEY', 'NEIGHBORHOOD_SCHUYLERVILLE/PELHAM BAY', 'NEIGHBORHOOD_SEAGATE', 'NEIGHBORHOOD_SHEEPSHEAD BAY', 'NEIGHBORHOOD_SILVER LAKE', 'NEIGHBORHOOD_SO. JAMAICA-BAISLEY PARK', 'NEIGHBORHOOD_SOHO', 'NEIGHBORHOOD_SOUNDVIEW', 'NEIGHBORHOOD_SOUTH BEACH', 'NEIGHBORHOOD_SOUTH JAMAICA', 'NEIGHBORHOOD_SOUTH OZONE PARK', 'NEIGHBORHOOD_SOUTHBRIDGE', 'NEIGHBORHOOD_SPRING CREEK', 'NEIGHBORHOOD_SPRINGFIELD GARDENS', 'NEIGHBORHOOD_ST. ALBANS', 'NEIGHBORHOOD_STAPLETON', 'NEIGHBORHOOD_STAPLETON-CLIFTON', 'NEIGHBORHOOD_SUNNYSIDE', 'NEIGHBORHOOD_SUNSET PARK', 'NEIGHBORHOOD_THROGS NECK', 'NEIGHBORHOOD_TODT HILL', 'NEIGHBORHOOD_TOMPKINSVILLE', 'NEIGHBORHOOD_TOTTENVILLE', 'NEIGHBORHOOD_TRAVIS', 'NEIGHBORHOOD_TRIBECA', 'NEIGHBORHOOD_UPPER EAST SIDE (59-79)', 'NEIGHBORHOOD_UPPER EAST SIDE (79-96)', 'NEIGHBORHOOD_UPPER EAST SIDE (96-110)', 'NEIGHBORHOOD_UPPER WEST SIDE (59-79)', 'NEIGHBORHOOD_UPPER WEST SIDE (79-96)', 'NEIGHBORHOOD_UPPER WEST SIDE (96-116)', 'NEIGHBORHOOD_VAN CORTLANDT PARK', 'NEIGHBORHOOD_WAKEFIELD', 'NEIGHBORHOOD_WASHINGTON HEIGHTS LOWER', 'NEIGHBORHOOD_WASHINGTON HEIGHTS UPPER', 'NEIGHBORHOOD_WEST NEW BRIGHTON', 'NEIGHBORHOOD_WESTCHESTER', 'NEIGHBORHOOD_WESTERLEIGH', 'NEIGHBORHOOD_WHITESTONE', 'NEIGHBORHOOD_WILLIAMSBRIDGE', 'NEIGHBORHOOD_WILLIAMSBURG-CENTRAL', 'NEIGHBORHOOD_WILLIAMSBURG-EAST', 'NEIGHBORHOOD_WILLIAMSBURG-NORTH', 'NEIGHBORHOOD_WILLIAMSBURG-SOUTH', 'NEIGHBORHOOD_WILLOWBROOK', 'NEIGHBORHOOD_WINDSOR TERRACE', 'NEIGHBORHOOD_WOODHAVEN', 'NEIGHBORHOOD_WOODLAWN', 'NEIGHBORHOOD_WOODROW', 'NEIGHBORHOOD_WOODSIDE', 'NEIGHBORHOOD_WYCKOFF HEIGHTS', 'BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS                    ', 'BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS                  ', 'BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS             ', 'BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS           ', 'BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS               ', 'BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS             ', 'BUILDING CLASS CATEGORY_11A CONDO-RENTALS                           ', 'BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS              ', 'BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS            ', 'BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT                     ', 'BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL          ', 'BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT ', 'BUILDING CLASS CATEGORY_17 CONDO COOPS                             ', 'BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS                   ']
        # Add dummies to dic
for m in model_params:
    if "NEIGHBORHOOD" in m:
        if neighborhood in m:
            dic[m] = 1
        else:
            dic[m] = 0
    if "BUILDING CLASS" in m:
        if building_type in m:
            dic[m] = 1
        else:
            dic[m] = 0
        
        # convert to df
inputdf = pd.DataFrame([dic])
inputdf

,ZIP CODE,TOTAL UNITS,SQFT,YEAR BUILT,NEIGHBORHOOD_ALPHABET CITY,NEIGHBORHOOD_ANNADALE,NEIGHBORHOOD_ARDEN HEIGHTS,NEIGHBORHOOD_ARROCHAR,NEIGHBORHOOD_ARROCHAR-SHORE ACRES,NEIGHBORHOOD_ARVERNE,...,BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS,BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS,BUILDING CLASS CATEGORY_11A CONDO-RENTALS,BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS,BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS,BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT,BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL,BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT,BUILDING CLASS CATEGORY_17 CONDO COOPS,BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS
0,10009,10,1500,2000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1