In [1]:
# Dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd

In [42]:
# Import dataset
nyc_sales_df = (pd.read_csv("NYC_Sales_Clean.csv")).drop(columns=['RESIDENTIAL UNITS', 'COMMERCIAL UNITS','BUILDING CLASS AT TIME OF SALE', 'LAND SQUARE FEET'])
nyc_sales_df = nyc_sales_df.rename(columns={'GROSS SQUARE FEET': "SQFT"})
nyc_sales_df = nyc_sales_df[nyc_sales_df.SQFT !=" -  "]
nyc_sales_df["SQFT"] = pd.to_numeric(nyc_sales_df["SQFT"])
print(nyc_sales_df.shape)
print(nyc_sales_df['BUILDING CLASS CATEGORY'].unique())
nyc_sales_df.head(25)

(43353, 9)
['07 RENTALS - WALKUP APARTMENTS             '
 '08 RENTALS - ELEVATOR APARTMENTS           '
 '09 COOPS - WALKUP APARTMENTS               '
 '11A CONDO-RENTALS                           '
 '14 RENTALS - 4-10 UNIT                     '
 '01 ONE FAMILY DWELLINGS                    '
 '02 TWO FAMILY DWELLINGS                    '
 '03 THREE FAMILY DWELLINGS                  '
 '17 CONDO COOPS                             '
 '10 COOPS - ELEVATOR APARTMENTS             '
 '12 CONDOS - WALKUP APARTMENTS              '
 '13 CONDOS - ELEVATOR APARTMENTS            '
 '46 CONDO STORE BUILDINGS                   '
 '15 CONDOS - 2-10 UNIT RESIDENTIAL          '
 '16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT ']

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,ZIP CODE,TOTAL UNITS,SQFT,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE_PRICE,SALE PERIOD
0,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,5,6440,1900,2,6625000,7-2017
1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,10,6794,1913,2,3936272,9-2016
2,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,6,4615,1900,2,8000000,11-2016
3,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,10009,8,4226,1920,2,3192840,9-2016
4,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,10009,24,18523,1920,2,16232000,11-2016
5,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,10009,10,12350,2009,2,10350000,10-2016
15,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,10009,24,16776,1928,2,11900000,6-2017
62,ALPHABET CITY,11A CONDO-RENTALS,10009,47,36472,2005,2,28000000,10-2016
125,ALPHABET CITY,14 RENTALS - 4-10 UNIT,10009,4,3360,1910,2,3300000,11-2016
126,ALPHABET CITY,14 RENTALS - 4-10 UNIT,10009,5,5608,1900,2,7215000,1-2017
127,ALPHABET CITY,14 RENTALS - 4-10 UNIT,10009,6,3713,1910,2,4750000,4-2017
147,CHELSEA,01 ONE FAMILY DWELLINGS,10011,1,3855,1901,1,7425000,12-2016
148,CHELSEA,01 ONE FAMILY DWELLINGS,10011,1,5653,1900,1,10,1-2017
149,CHELSEA,01 ONE FAMILY DWELLINGS,10011,1,5653,1900,1,10,1-2017
150,CHELSEA,01 ONE FAMILY DWELLINGS,10011,1,5653,1900,1,10,1-2017
151,CHELSEA,02 TWO FAMILY DWELLINGS,10011,3,4978,1920,1,7750000,4-2017
152,CHELSEA,03 THREE FAMILY DWELLINGS,10011,3,3725,1901,1,8300000,2-2017
153,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10001,7,3762,1901,2,16000000,9-2016
154,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,4,2890,1910,2,5950000,10-2016
155,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,24,4500,1900,2,7375000,2-2017
156,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,4,3042,1900,2,8000000,2-2017
157,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,24,13056,1901,2,14100000,3-2017
158,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,9,6330,1901,2,1583840,8-2017
159,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,9,6330,1901,2,416790,8-2017
160,CHELSEA,07 RENTALS - WALKUP APARTMENTS,10011,9,6330,1901,2,630370,8-2017

In [19]:
# Foor loop for java script code
for c in nyc_sales_df["NEIGHBORHOOD"].unique():
    print(f'<option value="{c}">{c}</option>')

<option value="0">5</option>
<option value="1">10</option>
<option value="2">6</option>
<option value="3">8</option>
<option value="4">24</option>
<option value="5">47</option>
<option value="6">4</option>
<option value="7">1</option>
<option value="8">3</option>
<option value="9">7</option>
<option value="10">9</option>
<option value="11">16</option>
<option value="12">32</option>
<option value="13">14</option>
<option value="14">30</option>
<option value="15">19</option>
<option value="16">12</option>
<option value="17">18</option>
<option value="18">13</option>
<option value="19">2</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">26</option>
<option value="23">48</option>
<option value="24">55</option>
<option value="25">482</option>
<option value="26">323</option>
<option value="27">42</option>
<option value="28">31</option>
<option value="29">15</option>
<option value="30">22</option>
<option value="31">107</option>
<option value="32">36</option>
<option value="33">25</option>
<option value="34">11</option>
<option value="35">34</option>
<option value="36">37</option>
<option value="37">76</option>
<option value="38">27</option>
<option value="39">33</option>
<option value="40">286</option>
<option value="41">256</option>
<option value="42">771</option>
<option value="43">257</option>
<option value="44">44</option>
<option value="45">315</option>
<option value="46">41</option>
<option value="47">51</option>
<option value="48">40</option>
<option value="49">35</option>
<option value="50">38</option>
<option value="51">29</option>
<option value="52">81</option>
<option value="53">45</option>
<option value="54">72</option>
<option value="55">56</option>
<option value="56">68</option>
<option value="57">74</option>
<option value="58">39</option>
<option value="59">17</option>
<option value="60">61</option>
<option value="61">902</option>
<option value="62">70</option>
<option value="63">78</option>
<option value="64">181</option>
<option value="65">102</option>
<option value="66">121</option>
<option value="67">52</option>
<option value="68">192</option>
<option value="69">75</option>
<option value="70">374</option>
<option value="71">54</option>
<option value="72">238</option>
<option value="73">60</option>
<option value="74">111</option>
<option value="75">395</option>
<option value="76">155</option>
<option value="77">193</option>
<option value="78">64</option>
<option value="79">146</option>
<option value="80">28</option>
<option value="81">94</option>
<option value="82">46</option>
<option value="83">43</option>
<option value="84">84</option>
<option value="85">65</option>
<option value="86">95</option>
<option value="87">49</option>
<option value="88">63</option>
<option value="89">71</option>
<option value="90">57</option>
<option value="91">67</option>
<option value="92">0</option>
<option value="93">77</option>
<option value="94">736</option>
<option value="95">680</option>
<option value="96">179</option>
<option value="97">53</option>
<option value="98">23</option>
<option value="99">100</option>
<option value="100">291</option>
<option value="101">66</option>
<option value="102">114</option>
<option value="103">91</option>
<option value="104">69</option>
<option value="105">73</option>
<option value="106">79</option>
<option value="107">83</option>
<option value="108">520</option>
<option value="109">163</option>
<option value="110">62</option>
<option value="111">127</option>
<option value="112">50</option>
<option value="113">222</option>
<option value="114">99</option>
<option value="115">130</option>
<option value="116">90</option>
<option value="117">58</option>
<option value="118">159</option>
<option value="119">462</option>
<option value="120">142</option>
<option value="121">59</option>
<option value="122">955</option>
<option value="123">129</option>
<option value="124">889</option>
<option value="125">109</option>
<option value="126">271</option>
<option value="127">150</option>
<option value="128">120</option>
<option value="129">106</option>
<option value="130">86</option>
<option value="131">103</option>
<option value="132">118</option>
<option value="133">164</option>
<option value="134">139</option>
<option value="135">165</option>
<option value="136">122</option>
<option value="137">113</option>
<option value="138">279</option>
<option value="139">135</option>
<option value="140">324</option>
<option value="141">180</option>
<option value="142">104</option>
<option value="143">96</option>
<option value="144">145</option>
<option value="145">152</option>
<option value="146">89</option>
<option value="147">136</option>
<option value="148">295</option>
<option value="149">198</option>
<option value="150">446</option>
<option value="151">143</option>
<option value="152">128</option>

In [49]:
nyc_sales_df["TAX CLASS AT TIME OF SALE"].unique()

array([2, 1, 4])

In [28]:
nyc_sales_df.loc[nyc_sales_df["YEAR BUILT"]<1800]

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,ZIP CODE,TOTAL UNITS,SQFT,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE_PRICE,SALE PERIOD
1983,FINANCIAL,17 CONDO COOPS,10004,42,32843,0,2,26750000,7-2017
14555,BELMONT,12 CONDOS - WALKUP APARTMENTS,10458,1,0,0,2,175000,11-2016
14556,BELMONT,12 CONDOS - WALKUP APARTMENTS,10458,1,0,0,2,0,7-2017
16659,MORRISANIA/LONGWOOD,12 CONDOS - WALKUP APARTMENTS,10455,1,0,0,2,260000,4-2017
16660,MORRISANIA/LONGWOOD,12 CONDOS - WALKUP APARTMENTS,10455,1,0,0,2,217000,3-2017
...,...,...,...,...,...,...,...,...,...
43504,CORONA,07 RENTALS - WALKUP APARTMENTS,11368,8,6875,0,2,2318062,3-2017
43505,CORONA,07 RENTALS - WALKUP APARTMENTS,11368,8,6875,0,2,2153222,5-2017
45577,FLUSHING-NORTH,08 RENTALS - ELEVATOR APARTMENTS,11355,10,10111,0,2,4000000,5-2017
51576,LITTLE NECK,01 ONE FAMILY DWELLINGS,11362,1,5291,0,1,1731025,4-2017
61889,PRINCES BAY,02 TWO FAMILY DWELLINGS,10309,2,1800,0,1,626223,4-2017

In [51]:
count=0
for i in range(1900,2018):
    count+=1
    print(f'<option value="{count}">{i}</option>')

<option value="1">1900</option>
<option value="2">1901</option>
<option value="3">1902</option>
<option value="4">1903</option>
<option value="5">1904</option>
<option value="6">1905</option>
<option value="7">1906</option>
<option value="8">1907</option>
<option value="9">1908</option>
<option value="10">1909</option>
<option value="11">1910</option>
<option value="12">1911</option>
<option value="13">1912</option>
<option value="14">1913</option>
<option value="15">1914</option>
<option value="16">1915</option>
<option value="17">1916</option>
<option value="18">1917</option>
<option value="19">1918</option>
<option value="20">1919</option>
<option value="21">1920</option>
<option value="22">1921</option>
<option value="23">1922</option>
<option value="24">1923</option>
<option value="25">1924</option>
<option value="26">1925</option>
<option value="27">1926</option>
<option value="28">1927</option>
<option value="29">1928</option>
<option value="30">1929</option>
<option value="31">1930</option>
<option value="32">1931</option>
<option value="33">1932</option>
<option value="34">1933</option>
<option value="35">1934</option>
<option value="36">1935</option>
<option value="37">1936</option>
<option value="38">1937</option>
<option value="39">1938</option>
<option value="40">1939</option>
<option value="41">1940</option>
<option value="42">1941</option>
<option value="43">1942</option>
<option value="44">1943</option>
<option value="45">1944</option>
<option value="46">1945</option>
<option value="47">1946</option>
<option value="48">1947</option>
<option value="49">1948</option>
<option value="50">1949</option>
<option value="51">1950</option>
<option value="52">1951</option>
<option value="53">1952</option>
<option value="54">1953</option>
<option value="55">1954</option>
<option value="56">1955</option>
<option value="57">1956</option>
<option value="58">1957</option>
<option value="59">1958</option>
<option value="60">1959</option>
<option value="61">1960</option>
<option value="62">1961</option>
<option value="63">1962</option>
<option value="64">1963</option>
<option value="65">1964</option>
<option value="66">1965</option>
<option value="67">1966</option>
<option value="68">1967</option>
<option value="69">1968</option>
<option value="70">1969</option>
<option value="71">1970</option>
<option value="72">1971</option>
<option value="73">1972</option>
<option value="74">1973</option>
<option value="75">1974</option>
<option value="76">1975</option>
<option value="77">1976</option>
<option value="78">1977</option>
<option value="79">1978</option>
<option value="80">1979</option>
<option value="81">1980</option>
<option value="82">1981</option>
<option value="83">1982</option>
<option value="84">1983</option>
<option value="85">1984</option>
<option value="86">1985</option>
<option value="87">1986</option>
<option value="88">1987</option>
<option value="89">1988</option>
<option value="90">1989</option>
<option value="91">1990</option>
<option value="92">1991</option>
<option value="93">1992</option>
<option value="94">1993</option>
<option value="95">1994</option>
<option value="96">1995</option>
<option value="97">1996</option>
<option value="98">1997</option>
<option value="99">1998</option>
<option value="100">1999</option>
<option value="101">2000</option>
<option value="102">2001</option>
<option value="103">2002</option>
<option value="104">2003</option>
<option value="105">2004</option>
<option value="106">2005</option>
<option value="107">2006</option>
<option value="108">2007</option>
<option value="109">2008</option>
<option value="110">2009</option>
<option value="111">2010</option>
<option value="112">2011</option>
<option value="113">2012</option>
<option value="114">2013</option>
<option value="115">2014</option>
<option value="116">2015</option>
<option value="117">2016</option>
<option value="118">2017</option>

In [3]:
# Combine all similar neighborhoods
# for idx,row in nyc_sales_df.iterrows():
#     if "UPPER EAST" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "UPPER EAST SIDE"
#     elif "FLUSHING" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "FLUSHING"
#     elif "UPPER WEST" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "UPPER WEST SIDE"
#     elif "FLATBUSH" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "FLATBUSH"
#     elif "HARLEM" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "HARLEM"
#     elif "MIDTOWN" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "MIDTOWN"
#     elif "OCEAN PARKWAY" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "OCEAN PARKWAY"
#     elif "WILLIAMSBURG" in str(row["NEIGHBORHOOD"]):
#         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "WILLIAMSBURG"
# #     elif "PELHAM PARK" in str(row["NEIGHBORHOOD"]):
# #         nyc_sales_df.loc[idx,'NEIGHBORHOOD'] = "PELHAM PARKWAY"


# nyc_sales_df

In [4]:
# One hot Encoding 
# print(nyc_sales_df['NEIGHBORHOOD'].nunique())
# print(nyc_sales_df['BUILDING CLASS CATEGORY'].nunique())
# print(nyc_sales_df['SALE PERIOD'].nunique())
# KEEPNS = nyc_sales_df['NEIGHBORHOOD'].value_counts().sort_values(ascending=False).head(30)
# for idx,row in nyc_sales_df.iterrows():
#     t = row['NEIGHBORHOOD']
#     if t in KEEPNS:
#         pass
#     else:
#         nyc_sales_df = nyc_sales_df.drop(index=idx, axis=0)
# nyc_sales_df

In [5]:
print(nyc_sales_df.dtypes)
for col in nyc_sales_df.columns:
    print(col)
    print(nyc_sales_df[col].nunique())

NEIGHBORHOOD                 object
BUILDING CLASS CATEGORY      object
ZIP CODE                      int64
TOTAL UNITS                   int64
SQFT                          int64
YEAR BUILT                    int64
TAX CLASS AT TIME OF SALE     int64
SALE_PRICE                    int64
SALE PERIOD                  object
dtype: object
NEIGHBORHOOD
247
BUILDING CLASS CATEGORY
15
ZIP CODE
176
TOTAL UNITS
153
SQFT
4453
YEAR BUILT
150
TAX CLASS AT TIME OF SALE
3
SALE_PRICE
5726
SALE PERIOD
12

In [43]:
# Convert categorical data to numeric
nyc_sales_df = pd.get_dummies(nyc_sales_df, drop_first=True)

In [7]:
nyc_sales_df.head()

,ZIP CODE,TOTAL UNITS,SQFT,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE_PRICE,NEIGHBORHOOD_ALPHABET CITY,NEIGHBORHOOD_ANNADALE,NEIGHBORHOOD_ARDEN HEIGHTS,NEIGHBORHOOD_ARROCHAR,...,SALE PERIOD_11-2016,SALE PERIOD_12-2016,SALE PERIOD_2-2017,SALE PERIOD_3-2017,SALE PERIOD_4-2017,SALE PERIOD_5-2017,SALE PERIOD_6-2017,SALE PERIOD_7-2017,SALE PERIOD_8-2017,SALE PERIOD_9-2016
0,10009,5,6440,1900,2,6625000,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,10009,10,6794,1913,2,3936272,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,10009,6,4615,1900,2,8000000,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,10009,8,4226,1920,2,3192840,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,10009,24,18523,1920,2,16232000,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [8]:
for col in nyc_sales_df.columns:
    print(col)

ZIP CODE
TOTAL UNITS
SQFT
YEAR BUILT
TAX CLASS AT TIME OF SALE
SALE_PRICE
NEIGHBORHOOD_ALPHABET CITY
NEIGHBORHOOD_ANNADALE
NEIGHBORHOOD_ARDEN HEIGHTS
NEIGHBORHOOD_ARROCHAR
NEIGHBORHOOD_ARROCHAR-SHORE ACRES
NEIGHBORHOOD_ARVERNE
NEIGHBORHOOD_ASTORIA
NEIGHBORHOOD_BATH BEACH
NEIGHBORHOOD_BATHGATE
NEIGHBORHOOD_BAY RIDGE
NEIGHBORHOOD_BAYCHESTER
NEIGHBORHOOD_BAYSIDE
NEIGHBORHOOD_BEDFORD PARK/NORWOOD
NEIGHBORHOOD_BEDFORD STUYVESANT
NEIGHBORHOOD_BEECHHURST
NEIGHBORHOOD_BELLE HARBOR
NEIGHBORHOOD_BELLEROSE
NEIGHBORHOOD_BELMONT
NEIGHBORHOOD_BENSONHURST
NEIGHBORHOOD_BERGEN BEACH
NEIGHBORHOOD_BOERUM HILL
NEIGHBORHOOD_BOROUGH PARK
NEIGHBORHOOD_BRIARWOOD
NEIGHBORHOOD_BRIGHTON BEACH
NEIGHBORHOOD_BROAD CHANNEL
NEIGHBORHOOD_BRONX PARK
NEIGHBORHOOD_BRONXDALE
NEIGHBORHOOD_BROOKLYN HEIGHTS
NEIGHBORHOOD_BROWNSVILLE
NEIGHBORHOOD_BULLS HEAD
NEIGHBORHOOD_BUSH TERMINAL
NEIGHBORHOOD_BUSHWICK
NEIGHBORHOOD_CAMBRIA HEIGHTS
NEIGHBORHOOD_CANARSIE
NEIGHBORHOOD_CARROLL GARDENS
NEIGHBORHOOD_CASTLE HILL/UNIONPORT
NEIGHBORHOOD_CASTLETON CORNERS
NEIGHBORHOOD_CHELSEA
NEIGHBORHOOD_CHINATOWN
NEIGHBORHOOD_CITY ISLAND
NEIGHBORHOOD_CITY ISLAND-PELHAM STRIP
NEIGHBORHOOD_CIVIC CENTER
NEIGHBORHOOD_CLINTON
NEIGHBORHOOD_CLINTON HILL
NEIGHBORHOOD_CLOVE LAKES
NEIGHBORHOOD_CO-OP CITY
NEIGHBORHOOD_COBBLE HILL
NEIGHBORHOOD_COBBLE HILL-WEST
NEIGHBORHOOD_COLLEGE POINT
NEIGHBORHOOD_CONCORD
NEIGHBORHOOD_CONCORD-FOX HILLS
NEIGHBORHOOD_CONEY ISLAND
NEIGHBORHOOD_CORONA
NEIGHBORHOOD_COUNTRY CLUB
NEIGHBORHOOD_CROTONA PARK
NEIGHBORHOOD_CROWN HEIGHTS
NEIGHBORHOOD_CYPRESS HILLS
NEIGHBORHOOD_DONGAN HILLS
NEIGHBORHOOD_DONGAN HILLS-COLONY
NEIGHBORHOOD_DONGAN HILLS-OLD TOWN
NEIGHBORHOOD_DOUGLASTON
NEIGHBORHOOD_DOWNTOWN-FULTON FERRY
NEIGHBORHOOD_DOWNTOWN-FULTON MALL
NEIGHBORHOOD_DOWNTOWN-METROTECH
NEIGHBORHOOD_DYKER HEIGHTS
NEIGHBORHOOD_EAST ELMHURST
NEIGHBORHOOD_EAST NEW YORK
NEIGHBORHOOD_EAST TREMONT
NEIGHBORHOOD_EAST VILLAGE
NEIGHBORHOOD_ELMHURST
NEIGHBORHOOD_ELTINGVILLE
NEIGHBORHOOD_EMERSON HILL
NEIGHBORHOOD_FAR ROCKAWAY
NEIGHBORHOOD_FASHION
NEIGHBORHOOD_FIELDSTON
NEIGHBORHOOD_FINANCIAL
NEIGHBORHOOD_FLATBUSH-CENTRAL
NEIGHBORHOOD_FLATBUSH-EAST
NEIGHBORHOOD_FLATBUSH-LEFFERTS GARDEN
NEIGHBORHOOD_FLATBUSH-NORTH
NEIGHBORHOOD_FLATIRON
NEIGHBORHOOD_FLATLANDS
NEIGHBORHOOD_FLORAL PARK
NEIGHBORHOOD_FLUSHING-NORTH
NEIGHBORHOOD_FLUSHING-SOUTH
NEIGHBORHOOD_FORDHAM
NEIGHBORHOOD_FOREST HILLS
NEIGHBORHOOD_FORT GREENE
NEIGHBORHOOD_FRESH KILLS
NEIGHBORHOOD_FRESH MEADOWS
NEIGHBORHOOD_GERRITSEN BEACH
NEIGHBORHOOD_GLEN OAKS
NEIGHBORHOOD_GLENDALE
NEIGHBORHOOD_GOWANUS
NEIGHBORHOOD_GRAMERCY
NEIGHBORHOOD_GRANT CITY
NEIGHBORHOOD_GRASMERE
NEIGHBORHOOD_GRAVESEND
NEIGHBORHOOD_GREAT KILLS
NEIGHBORHOOD_GREAT KILLS-BAY TERRACE
NEIGHBORHOOD_GREENPOINT
NEIGHBORHOOD_GREENWICH VILLAGE-CENTRAL
NEIGHBORHOOD_GREENWICH VILLAGE-WEST
NEIGHBORHOOD_GRYMES HILL
NEIGHBORHOOD_HAMMELS
NEIGHBORHOOD_HARLEM-CENTRAL
NEIGHBORHOOD_HARLEM-EAST
NEIGHBORHOOD_HARLEM-UPPER
NEIGHBORHOOD_HARLEM-WEST
NEIGHBORHOOD_HIGHBRIDGE/MORRIS HEIGHTS
NEIGHBORHOOD_HILLCREST
NEIGHBORHOOD_HOLLIS
NEIGHBORHOOD_HOLLIS HILLS
NEIGHBORHOOD_HOLLISWOOD
NEIGHBORHOOD_HOWARD BEACH
NEIGHBORHOOD_HUGUENOT
NEIGHBORHOOD_HUNTS POINT
NEIGHBORHOOD_INWOOD
NEIGHBORHOOD_JACKSON HEIGHTS
NEIGHBORHOOD_JAMAICA
NEIGHBORHOOD_JAMAICA BAY
NEIGHBORHOOD_JAMAICA ESTATES
NEIGHBORHOOD_JAMAICA HILLS
NEIGHBORHOOD_JAVITS CENTER
NEIGHBORHOOD_KENSINGTON
NEIGHBORHOOD_KEW GARDENS
NEIGHBORHOOD_KINGSBRIDGE HTS/UNIV HTS
NEIGHBORHOOD_KINGSBRIDGE/JEROME PARK
NEIGHBORHOOD_KIPS BAY
NEIGHBORHOOD_LAURELTON
NEIGHBORHOOD_LITTLE ITALY
NEIGHBORHOOD_LITTLE NECK
NEIGHBORHOOD_LIVINGSTON
NEIGHBORHOOD_LONG ISLAND CITY
NEIGHBORHOOD_LOWER EAST SIDE
NEIGHBORHOOD_MADISON
NEIGHBORHOOD_MANHATTAN BEACH
NEIGHBORHOOD_MANHATTAN VALLEY
NEIGHBORHOOD_MANOR HEIGHTS
NEIGHBORHOOD_MARINE PARK
NEIGHBORHOOD_MARINERS HARBOR
NEIGHBORHOOD_MASPETH
NEIGHBORHOOD_MELROSE/CONCOURSE
NEIGHBORHOOD_MIDDLE VILLAGE
NEIGHBORHOOD_MIDLAND BEACH
NEIGHBORHOOD_MIDTOWN EAST
NEIGHBORHOOD_MIDTOWN WEST
NEIGHBORHOOD_MIDWOOD
NEIGHBORHOOD_MILL BASIN
NEIGHBORHOOD_MORRIS PARK/VAN NEST
NEIGHBORHOOD_MORRISANIA/LONGWOOD
NEIGHBORHOOD_MOTT HAVEN/PORT MORRIS
NEIGHBORHOOD_MOUNT HOPE/MOUNT EDEN
NEIGHBORHOOD_MURRAY HILL
NEIGHBORHOOD_NAVY YARD
NEIGHBORHOOD_NEPONSIT
NEIGHBORHOOD_NEW BRIGHTON
NEIGHBORHOOD_NEW BRIGHTON-ST. GEORGE
NEIGHBORHOOD_NEW DORP
NEIGHBORHOOD_NEW DORP-BEACH
NEIGHBORHOOD_NEW DORP-HEIGHTS
NEIGHBORHOOD_NEW SPRINGVILLE
NEIGHBORHOOD_OAKLAND GARDENS
NEIGHBORHOOD_OAKWOOD
NEIGHBORHOOD_OAKWOOD-BEACH
NEIGHBORHOOD_OCEAN HILL
NEIGHBORHOOD_OCEAN PARKWAY-NORTH
NEIGHBORHOOD_OCEAN PARKWAY-SOUTH
NEIGHBORHOOD_OLD MILL BASIN
NEIGHBORHOOD_OZONE PARK
NEIGHBORHOOD_PARK SLOPE
NEIGHBORHOOD_PARK SLOPE SOUTH
NEIGHBORHOOD_PARKCHESTER
NEIGHBORHOOD_PELHAM GARDENS
NEIGHBORHOOD_PELHAM PARKWAY NORTH
NEIGHBORHOOD_PELHAM PARKWAY SOUTH
NEIGHBORHOOD_PLEASANT PLAINS
NEIGHBORHOOD_PORT IVORY
NEIGHBORHOOD_PORT RICHMOND
NEIGHBORHOOD_PRINCES BAY
NEIGHBORHOOD_PROSPECT HEIGHTS
NEIGHBORHOOD_QUEENS VILLAGE
NEIGHBORHOOD_RED HOOK
NEIGHBORHOOD_REGO PARK
NEIGHBORHOOD_RICHMOND HILL
NEIGHBORHOOD_RICHMONDTOWN
NEIGHBORHOOD_RICHMONDTOWN-LIGHTHS HILL
NEIGHBORHOOD_RIDGEWOOD
NEIGHBORHOOD_RIVERDALE
NEIGHBORHOOD_ROCKAWAY PARK
NEIGHBORHOOD_ROOSEVELT ISLAND
NEIGHBORHOOD_ROSEBANK
NEIGHBORHOOD_ROSEDALE
NEIGHBORHOOD_ROSSVILLE
NEIGHBORHOOD_ROSSVILLE-CHARLESTON
NEIGHBORHOOD_ROSSVILLE-RICHMOND VALLEY
NEIGHBORHOOD_SCHUYLERVILLE/PELHAM BAY
NEIGHBORHOOD_SEAGATE
NEIGHBORHOOD_SHEEPSHEAD BAY
NEIGHBORHOOD_SILVER LAKE
NEIGHBORHOOD_SO. JAMAICA-BAISLEY PARK
NEIGHBORHOOD_SOHO
NEIGHBORHOOD_SOUNDVIEW
NEIGHBORHOOD_SOUTH BEACH
NEIGHBORHOOD_SOUTH JAMAICA
NEIGHBORHOOD_SOUTH OZONE PARK
NEIGHBORHOOD_SOUTHBRIDGE
NEIGHBORHOOD_SPRING CREEK
NEIGHBORHOOD_SPRINGFIELD GARDENS
NEIGHBORHOOD_ST. ALBANS
NEIGHBORHOOD_STAPLETON
NEIGHBORHOOD_STAPLETON-CLIFTON
NEIGHBORHOOD_SUNNYSIDE
NEIGHBORHOOD_SUNSET PARK
NEIGHBORHOOD_THROGS NECK
NEIGHBORHOOD_TODT HILL
NEIGHBORHOOD_TOMPKINSVILLE
NEIGHBORHOOD_TOTTENVILLE
NEIGHBORHOOD_TRAVIS
NEIGHBORHOOD_TRIBECA
NEIGHBORHOOD_UPPER EAST SIDE (59-79)
NEIGHBORHOOD_UPPER EAST SIDE (79-96)
NEIGHBORHOOD_UPPER EAST SIDE (96-110)
NEIGHBORHOOD_UPPER WEST SIDE (59-79)
NEIGHBORHOOD_UPPER WEST SIDE (79-96)
NEIGHBORHOOD_UPPER WEST SIDE (96-116)
NEIGHBORHOOD_VAN CORTLANDT PARK
NEIGHBORHOOD_WAKEFIELD
NEIGHBORHOOD_WASHINGTON HEIGHTS LOWER
NEIGHBORHOOD_WASHINGTON HEIGHTS UPPER
NEIGHBORHOOD_WEST NEW BRIGHTON
NEIGHBORHOOD_WESTCHESTER
NEIGHBORHOOD_WESTERLEIGH
NEIGHBORHOOD_WHITESTONE
NEIGHBORHOOD_WILLIAMSBRIDGE
NEIGHBORHOOD_WILLIAMSBURG-CENTRAL
NEIGHBORHOOD_WILLIAMSBURG-EAST
NEIGHBORHOOD_WILLIAMSBURG-NORTH
NEIGHBORHOOD_WILLIAMSBURG-SOUTH
NEIGHBORHOOD_WILLOWBROOK
NEIGHBORHOOD_WINDSOR TERRACE
NEIGHBORHOOD_WOODHAVEN
NEIGHBORHOOD_WOODLAWN
NEIGHBORHOOD_WOODROW
NEIGHBORHOOD_WOODSIDE
NEIGHBORHOOD_WYCKOFF HEIGHTS
BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS
BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS
BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS
BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS
BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS
BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS
BUILDING CLASS CATEGORY_11A CONDO-RENTALS
BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS
BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS
BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT
BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL
BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT
BUILDING CLASS CATEGORY_17 CONDO COOPS
BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS
SALE PERIOD_10-2016
SALE PERIOD_11-2016
SALE PERIOD_12-2016
SALE PERIOD_2-2017
SALE PERIOD_3-2017
SALE PERIOD_4-2017
SALE PERIOD_5-2017
SALE PERIOD_6-2017
SALE PERIOD_7-2017
SALE PERIOD_8-2017
SALE PERIOD_9-2016

In [44]:
# Separate features
X = nyc_sales_df.drop(["SALE_PRICE"], axis=1)
y = nyc_sales_df["SALE_PRICE"]

In [45]:
# Create train and testing variables
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [46]:
# # Scale X
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [12]:
# testX = X.iloc[0:5000,:]
# testY = y.iloc[0:5000]
# print(testX.shape)
# print(testY.shape)

In [13]:
#delete this cell later
# X_train, X_test, y_train, y_test = train_test_split(testX, testY, random_state=42)
# # Scale X
# scaler = StandardScaler().fit(X_train)
# X_train_scaled = scaler.transform(X_train)
# X_test_scaled = scaler.transform(X_test)

In [34]:
from sklearn.linear_model import LinearRegression
# model = LinearRegression()
reg = LinearRegression().fit(X_train_scaled, y_train)
reg.score(X_test_scaled, y_test)

-1.6369813144208527e+20

In [47]:
#RANDOM FOREST
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=1).fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)
#print(classification_report(y_test, y_pred, target_names=target_names))
print(f'Training Score: {model.score(X_train_scaled, y_train)}')
print(f'Testing Score: {model.score(X_test_scaled, y_test)}')

Training Score: 0.8761432539985238
Testing Score: 0.25291453713067624

In [16]:
#RANDOM FOREST on unscaled
model = RandomForestRegressor(random_state=1).fit(X_train, y_train)
y_pred = model.predict(X_test)
#print(classification_report(y_test, y_pred, target_names=target_names))
print(f'Training Score: {model.score(X_train, y_train)}')
print(f'Testing Score: {model.score(X_test, y_test)}')

KeyboardInterrupt:

In [52]:
# Dumps first one with scaled
from joblib import dump
dump(model, 'RandomForest2.joblib')

['RandomForest2.joblib']

In [ ]:
from sklearn.ensemble import ExtraTreesRegressor
clf = ExtraTreesRegressor(random_state=1).fit(X_train_scaled, y_train)
y_pred = clf.predict(X_test_scaled)
#print(classification_report(y_test, y_pred, target_names=target_names))
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

In [ ]:
from sklearn.ensemble import AdaBoostRegressor
clf = AdaBoostRegressor(random_state=1).fit(X_train_scaled, y_train)
y_pred = clf.predict(X_test_scaled)
#print(classification_report(y_test, y_pred, target_names=target_names))
print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')

In [ ]:
def model_tester(model):
    clf = model.fit(X_train_scaled, y_train)
    #print(classification_report(y_test, y_pred, target_names=target_names))
    print(f'Training Score: {clf.score(X_train_scaled, y_train)}')
    print(f'Testing Score: {clf.score(X_test_scaled, y_test)}')
    
model_tester(ExtraTreesRegressor(random_state=1, n_estimators=200))
model_tester(ExtraTreesRegressor(random_state=1, n_estimators=500))
model_tester(ExtraTreesRegressor(random_state=1, n_estimators=1000))
model_tester(ExtraTreesRegressor(random_state=1, n_estimators=2000))
model_tester(RandomForestRegressor(random_state=1, n_estimators=200))
model_tester(RandomForestRegressor(random_state=1, n_estimators=500))
model_tester(RandomForestRegressor(random_state=1, n_estimators=1000))
model_tester(RandomForestRegressor(random_state=1, n_estimators=2000))

In [ ]:
model_tester(RandomForestRegressor(random_state=1, n_estimators=50))
model_tester(RandomForestRegressor(random_state=1, n_estimators=20))
model_tester(RandomForestRegressor(random_state=1, n_estimators=15))
model_tester(RandomForestRegressor(random_state=1, n_estimators=10))
model_tester(RandomForestRegressor(random_state=1, n_estimators=5))

In [ ]:
# plt.scatter(model.predict(X_train), model.predict(X_train) - y_train, c="blue", label="Training Data")
# plt.scatter(model.predict(X_test), model.predict(X_test) - y_test, c="orange", label="Testing Data")
# plt.legend()
# plt.hlines(y=0, xmin=y.min(), xmax=y.max())
# plt.title("Residual Plot")
# plt.show()

In [24]:
for i in range(1,50):
    val = str(i*1000) + "-" + str((i+1)*1000)
    print(f'<option value="{i}">{val}</option>')

<option value="1">1000-2000</option>
<option value="2">2000-3000</option>
<option value="3">3000-4000</option>
<option value="4">4000-5000</option>
<option value="5">5000-6000</option>
<option value="6">6000-7000</option>
<option value="7">7000-8000</option>
<option value="8">8000-9000</option>
<option value="9">9000-10000</option>
<option value="10">10000-11000</option>
<option value="11">11000-12000</option>
<option value="12">12000-13000</option>
<option value="13">13000-14000</option>
<option value="14">14000-15000</option>
<option value="15">15000-16000</option>
<option value="16">16000-17000</option>
<option value="17">17000-18000</option>
<option value="18">18000-19000</option>
<option value="19">19000-20000</option>
<option value="20">20000-21000</option>
<option value="21">21000-22000</option>
<option value="22">22000-23000</option>
<option value="23">23000-24000</option>
<option value="24">24000-25000</option>
<option value="25">25000-26000</option>
<option value="26">26000-27000</option>
<option value="27">27000-28000</option>
<option value="28">28000-29000</option>
<option value="29">29000-30000</option>
<option value="30">30000-31000</option>
<option value="31">31000-32000</option>
<option value="32">32000-33000</option>
<option value="33">33000-34000</option>
<option value="34">34000-35000</option>
<option value="35">35000-36000</option>
<option value="36">36000-37000</option>
<option value="37">37000-38000</option>
<option value="38">38000-39000</option>
<option value="39">39000-40000</option>
<option value="40">40000-41000</option>
<option value="41">41000-42000</option>
<option value="42">42000-43000</option>
<option value="43">43000-44000</option>
<option value="44">44000-45000</option>
<option value="45">45000-46000</option>
<option value="46">46000-47000</option>
<option value="47">47000-48000</option>
<option value="48">48000-49000</option>
<option value="49">49000-50000</option>